@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model PersonalWebsiteMVC.Areas.Photos.Models.PhotosViewModel

@TempData["Message"]

<div id="Photos">
    <section>
        <h1>@ViewBag.AlbumName</h1>

    </section>
    <section>

        @foreach (var photo in Model.PagedPhotos!)
        {
            
                <figure>
                    <a class="gallery" href="@photo.ImageUrl" data-toggle="lightbox" data-id="@photo.Id"><img src="@photo.ImageUrl" data-id="@photo.Id" rel="slideshow"></a>
                    <figcaption>@photo.Name</figcaption>

                </figure>
            
        }

    </section>
    <section>
        @Html.PagedListPager((IPagedList)Model.PagedPhotos!, page => Url.Action("Index", "Album", new { pageNumber = page, area = "Photos", name = Context.Request.Query["name"], id = Context.Request.Query["id"] }),
new PagedListRenderOptions
{
    DisplayItemSliceAndTotal = true,
    LiElementClasses = new string[] { "page-item" },
    PageClasses = new String[] { "page-link" }
})
    </section>
</div>



@section Scripts {

    <script src="/lib/ckeditor5/ckeditor.min.js"></script>


    <script>

        $(function ($) {
            document.querySelector("#Photos section:nth-of-type(2)").querySelectorAll("figure").forEach(function (element, index) {


                let name = element.querySelector("figcaption").innerHTML;
                let src = element.querySelector("img").getAttribute("src");
                let id = $(element).find('img').data('id');

                $(element).find('img').colorbox({ rel: 'image', slideshow: true });

                $(element).find('img').on('click', function (e) {
                    e.preventDefault();
                    $("nav").hide();
                    $("body h1").hide();
                    $("main footer").hide();
                    $("main").css("z-index", "-1");
                    $(".page-link").css("z-index", "-50000");
                    $.ajax({
                        method: "POST",
                        url: "@Url.Action("GetPhotos", "Album")",
                        data: { 'id': id },
                        cache: false,
                        async: false,
                        success: function (message) {
                            console.log(message);

                            $.colorbox({
                                closeButton: false,
                                slideshow: true,
                                html: `
                                <button type="button">Close</button>

                                    <h1>${message.Name}</h1>


                                    <img src="${message.ImageUrl}" alt="${message.Name}">

                                    <h2>Comments</h2>
                                    @if (ViewBag.Comments is not null) {
                                        if (ViewBag.Comments.Count() == 0) {
                                        <p>No comments have been found just now.  Be the first to add a comment using the form below.  Your email address is required but will not be published.</p>
                                        }
                                    } else {
                                        <p>No comments have been found just now.  Be the first to add a comment using the form below.  Your email address is required but will not be published.</p>

                                    }
                                    <form method="post">
                                        <div>
                                            <label>Name:</label>
                                            <input type="text" name="txtName" placeholder="John Smith">
                                        </div>
                                        <div>
                                            <label>Email:</label>
                                            <input type="email" name="txtEmail" placeholder="john@johnsmith.com">
                                        </div>
                                        <div>
                                            <label>Website:</label>
                                            <input type="text" name="txtWebsite" placeholder="http://www.johnsmith.com">
                                        </div>
                                        <div>
                                            <label>Comment:</label>
                                            <textarea id="ckeditor1" placeholder="Type your comment here"></textarea>
                                        </div>
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </form>


                                `
                            });



                            ClassicEditor
                                .create(document.querySelector("#ckeditor1"), {
                                    plugins: [],
                                    toolbar: [],
                                })
                                .then(editor => {
                                    console.log(editor);
                                })
                                .catch(error => {
                                    console.log(error);
                                });

                        },
                        error: function (err) {
                            console.log(err);
                        }
                    });

                    $("#colorbox").find("button").on('click', function (e) {
                        e.preventDefault();
                        window.location.reload();
                    });
                });
            });
        });



        function GetComments(id) {
            let result = undefined;

            return result;
        }


    </script>


}
