@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model PersonalWebsiteMVC.Areas.Photos.Models.PhotosViewModel


<div id="Photos">
    <section>
        <h1>@ViewBag.AlbumName</h1>
    </section>
    <section>

        @foreach (var photo in Model.PagedPhotos!)
        {
            <figure>
                <img src="/Gallery/@Context.Request.Query["name"]/@photo.Name" data-id="@photo.Id">
                <figcaption><a href="#photoElement" class="f1">@photo.Name</a></figcaption>
            </figure>
        }

    </section>
    <section>
        @Html.PagedListPager((IPagedList)Model.PagedPhotos!, page => Url.Action("Index", "Album", new { pageNumber = page, area = "Photos", name = Context.Request.Query["name"], id = Context.Request.Query["id"] }),
new PagedListRenderOptions
{
    DisplayItemSliceAndTotal = true,
    LiElementClasses = new string[] { "page-item" },
    PageClasses = new String[] { "page-link" }
})
    </section>
</div>

<div id="photoElement">

</div>




@section Scripts {
    <script>
        document.querySelector("#Photos section:nth-of-type(2)").querySelectorAll("figure").forEach(function (element, index) {
            let name = element.querySelector("figcaption").querySelector("a").innerText;
            let src = element.querySelector("img").getAttribute("src");
            let id = $(element).find('img').data('id');



            $(element).find("figcaption").find("a").on('click', function (e) {
                e.preventDefault();

                $.ajax({
                    method: "POST",
                    url: "@Url.Action("GetComments", "Comments")",
                    data: { 'id': id },
                    async: false,
                    cache: false,
                    success: function (message) {
                        console.log(message);

                        $("#photoElement").html(`
                            <img src="${src}">
                            <hr>
                            <h3>Comments</h3>
                            ${message}
                            <form method="post">
                            <div>
                                <label>Name:</label>
                                <input type="text" name="txtName">
                            </div>
                            <div>
                                <label>Email:</label>
                                <input type="email" name="txtEmail">
                            </div>
                            <div>
                                <label>Website:</label>
                                <input type="text" name="txtWebsite">
                            </div>
                            <div>
                                <label>Comment:</label>
                                <textarea id="ckeditor1"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">Comment</button>
                        </form>
                        `);
                        $.featherlight('#photoElement',
                            {
                                close: function (e) {
                                    e.preventDefault();
                                    window.location.reload();
                                }
                        });
                    },
                    error: function (err) {
                        console.log(err);
                    }
                });
            });
 });




        function GetComments(id) {
            let result = undefined;

            return result;
        }
    </script>
}
