@using Microsoft.AspNetCore.Components
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model PersonalWebsiteMVC.Areas.Photos.Models.PhotosViewModel

@TempData["Message"]

@{
    ViewData["Title"] = "Home Page";
    var data = new ImportMapDefinition(
    new Dictionary<string, string>
    {
{ "ckeditor5", "/lib/ckeditor5/ckeditor5.js" },
{ "ckeditor5/", "/lib/ckeditor5/" },
    }, null, null);
}

<div id="Photos">

    <h1>@ViewBag.AlbumName</h1>


    <section>

        @foreach (var photo in Model.PagedPhotos!)
        {

            <figure>
                <a class="gallery" href="#mylightbox" data-featherlight-gallery data-name="@photo.Name"
                    data-id="@photo.AlbumID" data-photo-id="@photo.PhotoID"><img src="@photo.ImageUrl"
                        data-id="@photo.AlbumID" data-name="@photo.Name"></a>

                <figcaption>@photo.Name</figcaption>

            </figure>

        }

    </section>
    <section>
        <p>You are on page @Model.PagedPhotos.PageNumber of @Model.PagedPhotos.PageCount.</p>

        @Html.PagedListPager((IPagedList)Model.PagedPhotos!, page => Url.Action("Index", "Album", new { pageNumber =
        page, area = "Photos", name = Context.Request.Query["name"], id = Context.Request.Query["id"] }),
                new PagedListRenderOptions
                {
                    DisplayItemSliceAndTotal = false,
                    LiElementClasses = new string[] { "page-item" },
                    PageClasses = new String[] { "page-link" },
                    UlElementClasses = new[] { "pagination", "justify-content-center", "mt-3" },
                })
    </section>
</div>


<div id="mylightbox" class="hidden">
    <div id="lightbox-content">
        <img class="lightbox-image" src="" alt="">

        <p class="comment-status"></p>

        <p class="photoId"></p>

        <div class="comments-container"></div>

        <div class="pagination-container"></div>

        <form method="post">

            <div>
                <label>Name:</label>
                <input name="txtName" id="name" placeholder="John Smith">
            </div>
            <div>
                <label>Email:</label>
                <input type="email" name="txtEmail" placeholder="john@johnsmith.com">
            </div>
            <div>
                <label>Website:</label>
                <input name="txtWebsite" placeholder="https://www.johnsmith.com">
            </div>
            <div>
                <label>Comment:</label>
                <textarea id="ckeditor1"></textarea>
            </div>
            <button type="submit">Comment</button>
        </form>
    </div>

</div>


@section Scripts {

    <script>
        $('[data-featherlight-gallery').featherlightGallery({
            afterContent: function () {
                let current = $.featherlight.current().$content;
                let ckElement = current.find('#ckeditor1')[0];
                let modalEditor;


                window.ClassicEditor.create(ckElement, { 
                    licenseKey: 'GPL',
                    plugins: [
                        window.CKEditorEssentials, 
                        window.CKEditorParagraph, 
                        window.CKEditorBold, 
                        window.CKEditorItalic, 
                        window.CKEditorFont
                    ],
                    toolbar: []
                }).then(editorInstance => { 
                    currentEditor = editorInstance;

                    $(document).on('submit', function(e) { 
                        e.preventDefault();
                        let comment = currentEditor.getData();
                        console.log(comment);
                    });
                }).catch(console.error);

                let $trigger = this.$currentTarget;
                let $inst = this.$instance;

                $('.lightbox-image').attr('src', $trigger.find('img').attr('src'));
                let name = $trigger.data('name');
                let photoId = $trigger.data('photo-id');



                $.ajax({
                    method: "POST",
                    url: "/Album/GetPhoto",
                    data: { name: name },
                    async: false,
                    cache: false,
                    success: function (message) {
                        // jQuery seems to prefer using classes for manipulating the DOM rather than ids.  
                        $('.photoId').text(message.PhotoID);
                        GetComments(photoId);
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });


                function GetComments(id, page = 1) {


                    $.ajax({
                        method: "POST",
                        url: "/Album/GetComments",
                        data: { id: id, page: page },
                        async: false,
                        cache: false,
                        success: function (message) {
                            if (message.length) {
                                $(".comment-status").text(`${message.length} comments have been found for this photo.`);
                            } else if (message.length === 1) {
                                $(".comment-status").text('One comment has been found for this photo.');
                            } else if (message.length === 0) {
                                $(".comment-status").text('No comments have been found for this photo.  Be the first to add a comment using the form below.')
                            }

                            var current = $.featherlight.current().$content;
                            let commentsContainer = $(current).find('.comments-container');
                            console.log(commentsContainer);

                            $.each(message, function (index) {
                                commentsContainer.append(`
                                                                <div class="comment-item">
                                                                        <div class="flex flex-row flex-1">
                                                                                <img src="https://gravatar.com/avatar/27205e5c51cb03f862138b22bcb5dc20f94a342e744ff6df1b8dc8af3c865109?f=y" class="mr-5" alt="">
                                                                                <p class="ml-5">
                                                                                    Posted by ${message[index].CommentAuthor} on
                                                                                        ${dayjs(message[index].CommentDate).format('dddd YY MMMM YYYY')} at
                                                                                        ${dayjs(message[index].CommentDate).format('hh:mm A')}.
                                                                                </p>
                                                                        </div>
                                                                        ${message[index].CommentContent}
                                                               </div>        
                                                         `)
                            })

                            var commentItems = commentsContainer.find('.comment-item');
                            var perPage = 1;

                            commentItems.hide().slice(0, perPage).show();

                            var paginationContainer = $(current).find('.pagination-container');
                            paginationContainer.pagination({
                                items: commentItems.length,
                                itemsOnPage: perPage,
                                onPageClick: function (pageNumber, e) {
                                    e.preventDefault(); // Stop featherlight from closing
                                    var showFrom = perPage * (pageNumber - 1);
                                    var showTo = showFrom + perPage;
                                    commentItems.hide().slice(showFrom, showTo).show();
                                }
                            });




                        },
                        error: function (error) {
                            console.log(error);
                        }
                    });
                }
            } // End AfterContent function
        });
    </script>


}
