@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model PersonalWebsiteMVC.Areas.Photos.Models.PhotosViewModel

@TempData["Message"]

<div id="Photos">
    <section>
        <h1>@ViewBag.AlbumName</h1>

    </section>
    <section>

        @foreach (var photo in Model.PagedPhotos!)
        {
            
                <figure>
                    <a class="gallery" href="@photo.ImageUrl" data-toggle="lightbox" data-id="@photo.Id"><img src="@photo.ImageUrl" data-id="@photo.Id" rel="slideshow"></a>
                    <figcaption>@photo.Name</figcaption>

                </figure>
            
        }

    </section>
    <section>
        @Html.PagedListPager((IPagedList)Model.PagedPhotos!, page => Url.Action("Index", "Album", new { pageNumber = page, area = "Photos", name = Context.Request.Query["name"], id = Context.Request.Query["id"] }),
new PagedListRenderOptions
{
    DisplayItemSliceAndTotal = true,
    LiElementClasses = new string[] { "page-item" },
    PageClasses = new String[] { "page-link" }
})
    </section>
</div>



@section Scripts {

    <script src="/lib/ckeditor5/ckeditor.min.js"></script>

    <script type="importmap">
        {
            "imports": { 
                "bs5-lightbox": "./lib/bs5-lightbox/index.bundle.min.js"
             }
        }
    </script>

    <script type="module">
        import Lightbox from 'bs5-lightbox';
    </script>

    <script>

        $(function ($) {
            document.querySelector("#Photos section:nth-of-type(2)").querySelectorAll("figure").forEach(function (element, index) {


                let name = element.querySelector("figcaption").innerHTML;
                let src = element.querySelector("img").getAttribute("src");
                let id = $(element).find('img').data('id');

                document.querySelector("#Photos section:nth-of-type(2)").querySelectorAll("img").forEach((el) => el.addEventListener('click', function (e) {
                    e.preventDefault();
                    console.log("Image was clicked");
                }));

            });
        });



        function GetComments(id) {
            let result = undefined;

            return result;
        }


    </script>


}
