@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model PersonalWebsiteMVC.Areas.Photos.Models.PhotosViewModel

@TempData["Message"]

<div id="Photos">
    <section>
        <h1>@ViewBag.AlbumName</h1>

    </section>
    <section>

        @foreach (var photo in Model.PagedPhotos!)
        {

                <figure>
                    <a class="gallery" href="@photo.ImageUrl" data-id="@photo.Id" data-featherlight="@Html.Raw(Comments(photo.ImageUrl!))"><img src="@photo.ImageUrl" data-id="@photo.Id" rel="slideshow"></a>
                    <figcaption>@photo.Name</figcaption>

                </figure>

        }

    </section>
    <section>
        @Html.PagedListPager((IPagedList)Model.PagedPhotos!, page => Url.Action("Index", "Album", new { pageNumber = page, area = "Photos", name = Context.Request.Query["name"], id = Context.Request.Query["id"] }),
new PagedListRenderOptions
{
    DisplayItemSliceAndTotal = true,
    LiElementClasses = new string[] { "page-item" },
    PageClasses = new String[] { "page-link" }
})
    </section>
</div>

<div id="photoModal">
    @DateTime.Now
</div>


@functions {
    static IHtmlContent Comments(string src)
    {
        var fullHtml = $@"
            <h1>{src}</h1>
            <div class='form-group'>
                <label>Name:</label>
                <input name='txtName' placeholder='John Smith'>
            </div>
            <button type='submit' class='btn btn-primary'>Submit</button>
        ";
       
        return new HtmlString(fullHtml);
    }
}


@section Scripts {

    <script src="/lib/ckeditor5/ckeditor.min.js"></script>

    <script>
        $(function () {
           
            $("#Photos section:nth-of-type(2) img").each(function (index) { 
                let src = $(this).attr('src');
                let a = $(this).closest('a');
                console.log(a.text());
            });
            $("#Photos section:nth-of-type(2) a").on('click', function (e) {
                e.preventDefault();
                
                
            });
        });
        
    </script>


}
