@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model PersonalWebsiteMVC.Areas.Photos.Models.PhotosViewModel

@TempData["Message"]

<div id="Photos">

    <h1>@ViewBag.AlbumName</h1>


    <section>

        @foreach (var photo in Model.PagedPhotos!)
        {

            <figure>
                <a class="gallery" href="#mylightbox" data-featherlight-gallery data-name="@photo.Name"
                    data-id="@photo.AlbumID" data-photo-id="@photo.PhotoID"><img src="@photo.ImageUrl"
                        data-id="@photo.AlbumID" data-name="@photo.Name"></a>

                <figcaption>@photo.Name</figcaption>

            </figure>

        }

    </section>
    <section>
        <p>You are on page @Model.PagedPhotos.PageNumber of @Model.PagedPhotos.PageCount.</p>

        @Html.PagedListPager((IPagedList)Model.PagedPhotos!, page => Url.Action("Index", "Album", new { pageNumber =
        page, area = "Photos", name = Context.Request.Query["name"], id = Context.Request.Query["id"] }),
                new PagedListRenderOptions
                {
                    DisplayItemSliceAndTotal = false,
                    LiElementClasses = new string[] { "page-item" },
                    PageClasses = new String[] { "page-link" },
                    UlElementClasses = new[] { "pagination", "justify-content-center", "mt-3" },
                })
    </section>
</div>


<div id="mylightbox" class="hidden">
    <div id="lightbox-content">
        <img class="lightbox-image" src="" alt="">

        <p class="comment-status"></p>

        <p class="photoId"></p>

        <div class="comments-container"></div>

        <div class="pagination-container"></div>

        <form asp-action="AddComment" asp-controller="Album">
            <div asp-validation-summary="All"></div>
            <div>
                <label asp-for="Comments.CommentAuthor">Name:</label>
                <input asp-for="Comments.CommentAuthor" placeholder="John Smith">
            </div>
            <div>
                <label asp-for="Comments.CommentAuthorEmail">Email:</label>
                <input asp-for="Comments.CommentAuthorEmail" placeholder="john@johnsmith.com">
            </div>
            <div>
                <label asp-for="Comments.CommentAuthorUrl">Website:</label>
                <input asp-for="Comments.CommentAuthorUrl" placeholder="https://www.johnsmith.com">
            </div>
            <div>
                <label asp-for="Comments.CommentContent">Comment:</label>
                <textarea asp-for="Comments.CommentContent" id="ckeditor1" placeholder="Beautiful photo...."></textarea>
            </div>
            <button type="submit">Comment</button>
        </form>
    </div>

</div>


@section Scripts {
    <script>


        $('[data-featherlight-gallery').featherlightGallery({
            closeOnClick: false,
            beforeContent: function () {
                $(this.$currentTarget).find('.Comments').empty();

            },
            afterContent: function () {
                // Clear existing comments so previous slide's text doesn't leak in


                let $trigger = this.$currentTarget;
                let $inst = this.$instance;

                $('.lightbox-image').attr('src', $trigger.find('img').attr('src'));
                let name = $trigger.data('name');
                let photoId = $trigger.data('photo-id');


                $.ajax({
                    method: "POST",
                    url: "/Album/GetPhoto",
                    data: { name: name },
                    async: false,
                    cache: false,
                    success: function (message) {
                        // jQuery seems to prefer using classes for manipulating the DOM rather than ids.  
                        $('.photoId').text(message.PhotoID);
                        GetComments(photoId);
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });


                function GetComments(id, page = 1) {
                    $.ajax({
                        method: "POST",
                        url: "/Album/GetComments",
                        data: { id: id, page: page },
                        async: false,
                        cache: false,
                        success: function (message) {
                            if (message.length) {
                                $(".comment-status").text(`${message.length} comments have been found for this photo.`);
                            } else if (message.length === 1) {
                                $(".comment-status").text('One comment has been found for this photo.');
                            } else if (message.length === 0) {
                                $(".comment-status").text('No comments have been found for this photo.  Be the first to add a comment using the form below.')
                            }


                            var current = $.featherlight.current();
                          
                            var comments = $(current).find('.comments-container');
                            var pagination = $(current).find('.pagination-container');
                            console.log(pagination);


                            $.each(message, function (index) {
                                $(".comments-container").append(`
                                                            <div class="flex flex-row flex-1">
                                                                <img src="https://gravatar.com/avatar/27205e5c51cb03f862138b22bcb5dc20f94a342e744ff6df1b8dc8af3c865109?f=y" class="mr-5">
                                                                <p class="ml-5">Posted by ${message[index].CommentAuthor} on ${message[index].CommentDate}</p>
                                                            </div>
                                                            ${message[index].CommentContent}
                                                            
                                                     `);        
                                var pageParts = $(comments);
                                var numPages = message.length;
                                var perPage = 1; 

                                comments.slice(perPage).hide();
                                pagination.pagination({ 
                                    items: numPages, 
                                    itemsOnPage: perPage,
                                    cssStyle: "light-theme",
                                    onPageClick: function(pageNumb) { 
                                        var start = perPage * (pageNum - 1);
                                        var end = start + perPage;

                                        // First hide all page parts
                                        pageParts.hide().slice(start, end).show();
                                    });
                                });
                            });


                        },
                        error: function (error) {
                            console.log(error);
                        }
                    });
                }
            } // End AfterContent function
        });
    </script>


}
