@using Microsoft.AspNetCore.Components
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model PersonalWebsiteMVC.Areas.Photos.Models.PhotosViewModel

@TempData["Message"]

@{
    ViewData["Title"] = "Home Page";
    var data = new ImportMapDefinition(
    new Dictionary<string, string>
    {
{ "ckeditor5", "/lib/ckeditor5/ckeditor5.js" },
{ "ckeditor5/", "/lib/ckeditor5/" },
    }, null, null);
}

<div id="Photos">

    <h1>@ViewBag.AlbumName</h1>


    <section>

        @foreach (var photo in Model.PagedPhotos!)
        {

            <figure>
                <a class="gallery" href="popup.html .popup" data-featherlight-gallery data-featherlight="ajax" data-name="@photo.Name"
                    data-id="@photo.AlbumID" data-photo-id="@photo.PhotoID"><img src="@photo.ImageUrl"
                        data-id="@photo.AlbumID" data-name="@photo.Name"></a>

                <figcaption>@photo.Name</figcaption>

            </figure>

        }

    </section>
    <section>
        <p>You are on page @Model.PagedPhotos.PageNumber of @Model.PagedPhotos.PageCount.</p>

        @Html.PagedListPager((IPagedList)Model.PagedPhotos!, page => Url.Action("Index", "Album", new { pageNumber =
        page, area = "Photos", name = Context.Request.Query["name"], id = Context.Request.Query["id"] }),
                new PagedListRenderOptions
                {
                    DisplayItemSliceAndTotal = false,
                    LiElementClasses = new string[] { "page-item" },
                    PageClasses = new String[] { "page-link" },
                    UlElementClasses = new[] { "pagination", "justify-content-center", "mt-3" },
                })
    </section>
</div>


<div id="mylightbox" class="hidden">
    <div id="lightbox-content">
        <img class="lightbox-image" src="" alt="">

        <p class="comment-status"></p>


        <div class="comments-container"></div>

        <div class="pagination-container"></div>

        <form method="post">

            <div>
                <label>Name:</label>
                <input name="txtName" id="name" placeholder="John Smith">
            </div>
            <div>
                <label>Email:</label>
                <input type="email" id="email" placeholder="john@johnsmith.com">
            </div>
            <div>
                <label>Website:</label>
                <input id="website" name="txtWebsite" placeholder="https://www.johnsmith.com">
            </div>
            <div>
                <label>Comment:</label>
                <textarea id="ckeditor1"></textarea>
            </div>
        
            <button type="submit">Comment</button>
        </form>
    </div>

</div>


@section Scripts {

    <script>


           </script>


}
