@using Microsoft.AspNetCore.Components
@*
	For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using RestSharp
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@inject ApplicationDbContext _db
@model PersonalWebsiteMVC.Areas.Photos.Models.PhotosViewModel

@TempData["Message"]

@{
	ViewData["Title"] = "Home Page";
	var data = new ImportMapDefinition(
	new Dictionary<string, string>
		{
{ "ckeditor5", "/lib/ckeditor5/ckeditor5.js" },
{ "ckeditor5/", "/lib/ckeditor5/" },
								}, null, null);
}

<div id="Photos">

	<h1>@ViewBag.AlbumName</h1>


	<section>
		@foreach (var photo in Model.PagedPhotos!)
				{

					

			<figure>
				<a class="gallery" href="@photo.ImageUrl" data-featherlight-gallery
				   data-name="@photo.Name" data-album-id="@photo.AlbumID" data-photo-id="@photo.PhotoID">
					<img src="@GetThumbs(photo.ImageUrl!, "600x400")" data-id="@photo.AlbumID" data-name="@photo.Name">
				</a>

				<figcaption>@photo.Name</figcaption>

			</figure>

		}


	</section>
	<section>
		@if (Model.PagedPhotos is null)
		{
		}
		else
		{
			<p>You are on page @Model.PagedPhotos!.PageNumber of @Model.PagedPhotos.PageCount.</p>

			@Html.PagedListPager((IPagedList)Model.PagedPhotos!, page => Url.Action("Index", "Album", new
{
	pageNumber =
									page,
	area = "Photos",
	name = ViewBag.AlbumName,
	id = Context.Request.Query["id"]
}),
											new PagedListRenderOptions
											{
												DisplayItemSliceAndTotal = false,
												LiElementClasses = new string[] { "page-item" },
												PageClasses = new String[] { "page-link" },
												UlElementClasses = new[] { "pagination" },
											})
		}
	</section>
</div>


@functions {
	

	string GetThumbs(string path, string size)
	{
		string accessToken = "655SZGJR8uDME26uZ9n760kZPllUcXeMnXXOpi7bGcN7ny92KC4X";
		var client = new RestClient("https://eapi.pcloud.com");
		var request = new RestRequest("getthumblink");
		request.AddParameter("access_token", accessToken);
		request.AddParameter("path", path);
		request.AddParameter("size", size);
		var response = client.Execute(request);
		var result = JsonConvert.DeserializeObject(response.Content!);
		JToken json = JToken.Parse(result!.ToString()!);
		var url = "https://" + json["hosts"]![0] + json["path"];
		return url;
	}

}



@section Scripts {

	<script>

		$('a.gallery').featherlightGallery({
			galleryFadeIn: 100,
			galleryFadeOut: 300,
			beforeContent: function (e) {
				let content = this.$content;
				$(content).empty();
			},
			afterContent: function (e) {

				let target = this.$currentTarget[0];
				let pName = $(target).data('name');
				let albumId = $(target).data('album-id');

				let instance = this.$instance;
				//$(this.$instance).find('.featherlight-content').html('Hello World!');

				$.ajax({
					method: "POST",
					url: "/Album/GetPhoto",
					data: { name: pName, albumID: albumId, imgHref: target.href },
					async: false,
					cache: false,
					success: function (message) {
						//console.log(message);

						$(instance).find('.featherlight-content').html(`

																	${message}
																`);
					},
					error: function (error) {
						console.log(error);
					}
				});

				let comments = instance.find('#Comments .comment');
				let pager = instance.find('.pagination-container');

				let numItems = comments.length;
				let perPage = 4;

				comments.slice(perPage).hide();

				$(pager).pagination({
					items: numItems,
					itemsOnPage: perPage,
					onPageClick: function (pageNumber, e) {
						e.preventDefault();
						var showFrom = perPage * (pageNumber - 1);
						var showTo = showFrom + perPage;
						comments.hide().slice(showFrom, showTo).show();
					}
				});

				let captcha = instance.find('#g-recaptcha');

				if (captcha) {
					grecaptcha.render('g-recaptcha', {
						'site-key': '6LeCBlUrAAAAAGJFT1Rt-4hojR6NfEvqzsvZwnOz'
					});
				}

				// Note that [0] needs to be added to the instance to return HTML and without [0] for jQuery function.



				let ckElement = instance.find('#ckeditor1')[0];
				ClassicEditor.create(ckElement, {
					licenseKey: 'GPL',
					plugins: [window.CKEditorEssentials, window.CKEditorParagraph, window.CKEditorBold, window.CKEditorItalic, window.CKEditorFont]
				})
					.then(editor => {
						$("#commentForm").on('submit', function (e) {
							e.preventDefault();

							let name = instance.find('#name')[0]
							let email = instance.find('#email')[0];
							let website = instance.find('#website')[0];
							let message = editor.getData();
							let photoId = document.forms[0]['photoID'].value;
							let strCaptcha = document.forms[0]['g-recaptcha-response'].value;

						});
					});
			

			}
		});



	</script>


}
