@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model PersonalWebsiteMVC.Areas.Photos.Models.PhotosViewModel

@TempData["Message"]

<div id="Photos">
    <section>
        <h1>@ViewBag.AlbumName</h1>

    </section>
    <section>

        @foreach (var photo in Model.PagedPhotos!)
        {

            <figure>
                <!-- Note to self: the href content is key to getting thifs working!!! -->
                <a class="gallery" href="/Gallery/@ViewBag.AlbumName/@photo.Name" data-name="@photo.Name"
                    data-id="@photo.AlbumID"><img src="@photo.ImageUrl" data-id="@photo.AlbumID"
                        data-name="@photo.Name"></a>

                <figcaption>@photo.Name</figcaption>

            </figure>

        }

    </section>
    <section>
        @Html.PagedListPager((IPagedList)Model.PagedPhotos!, page => Url.Action("Index", "Album", new { pageNumber =
        page, area = "Photos", name = Context.Request.Query["name"], id = Context.Request.Query["id"] }),
                new PagedListRenderOptions
                {
                    DisplayItemSliceAndTotal = true,
                    LiElementClasses = new string[] { "page-item" },
                    PageClasses = new String[] { "page-link" }
                })
    </section>
</div>


@functions {
    string TestRender()
    {
        return DateTime.Now.ToString();
    }
}


@section Scripts {

    <script>
        $(function () {
            $("a.gallery").featherlightGallery({
                // https://github.com/noelboss/featherlight/blob/master/test/featherlight_gallery_test.js
                afterOpen: function () {
                    $(".pagination-container").css("z-index", "-1");

                        let ckeditor1 = this.$content.find('#ckeditor1');

                    const { ClassicEditor, Essentials, Bold, Italic, Font, Paragraph } = CKEDITOR;
                    if (ckeditor1) {
                        ClassicEditor
                            .create(document.querySelector('#ckeditor1'), {
                                licenseKey: 'eyJhbGciOiJFUzI1NiJ9.eyJleHAiOjE3ODU4ODc5OTksImp0aSI6IjRlZGQ4MmUyLWQ3NDUtNGZmYy05OWEzLTIxZDNlNmVlYjljNiIsInVzYWdlRW5kcG9pbnQiOiJodHRwczovL3Byb3h5LWV2ZW50LmNrZWRpdG9yLmNvbSIsImRpc3RyaWJ1dGlvbkNoYW5uZWwiOlsiY2xvdWQiLCJkcnVwYWwiXSwiZmVhdHVyZXMiOlsiRFJVUCIsIkUyUCIsIkUyVyJdLCJ2YyI6IjU5MzNkZjc4In0.PEFMmWv6lxvLvj6ffUNAvmmRU7MDcEVTufm1vp4G7-EesRXE0WO4I39xdnNWN_cvzBp9W1MnwZLElrHS6vkYJQ',
                                plugins: [Essentials, Bold, Italic, Font, Paragraph],
                                toolbar: []
                            })
                            .then(editor => {
                                const el = editor.ui.view.toolbar.element;
                                el.style.display = 'none';
                            })
                            .catch(error => {
                                console.error(error);
                            });
                    }

                },
                afterContent: function () {
                    lastCurrent = this.$currentTarget[0];
                    let name = $(lastCurrent).data('name');
                    let src = $(lastCurrent).find('img').attr('src');
                    let id = undefined;
                    let photo = $.ajax({
                        method: "POST",
                        data: { name: name },
                        url: "@Url.Action("GetPhoto", "Album")",
                        async: false,
                        cache: false,
                        success: function (message) {
                            id = message.PhotoID;
                        },
                        error: function (err) {
                            return err;
                        }
                    });
                    console.log(photo);
                    //console.log(photo.responseJSON[0]);
                    this.$instance.find('.featherlight-content').html(`
                                                                           <h1>${name}</h1>
                                                                           <img src="${src}">
                                                                           ${id}
                                                                           <div id="Comments"></div>
                <div class="commentForm">                                                         ${CommentForm(id)}     
                </div>
                                                                     `);


                    // Get comments from database
                    $.ajax({
                        method: "POST",
                        url: "/Album/GetComments",
                        data: { id: id },
                        async: false,
                        cache: false,
                        success: function (message) {
                            // For some reason jQuery rendered HTML is always null, which is causing the ckeditor5 error.  
                            if (message.length == 0) {
                                console.log(message);
                                $("#Comments").html(`
                                                                                    <p>No comments have been found for this photo.  Be the first to add a comment using the form below.</p>
                                                                                `);

                            }
                        },
                        error: function (error) {
                            console.log(error);
                        }
                    });

                    $(document).on('submit', function (e) {
                        e.preventDefault();
                        console.log('Form was submitted!');
                    });



                    function CommentForm(id) {
                        let html = `
                     <form method="post">                                                    <div>
                                                                                <label>Name:</label>
                                                                                <input type="text" name="txtName" placeholder="John Smith">
                                                                            </div>
                                                                            <div>
                                                                                <label>Email:</label>
                                                                                <input type="text" name="txtEmail" placeholder="john@@johnsmith.com">
                                                                            </div>
                                                                            <div>
                                                                                <label>Website:</label>
                                                                                <input type="text" name="txtWebsite">
                                                                            </div>
                                                                            <div>
                                                                                <label>Comment:</label>
                                                                                <textarea name="txtComment" id="ckeditor1" placeholder="Great photo...."></textarea>
                                                                            </div>
                                                                            <button type="submit">Comment</button>
                </form>            
                                                                    `;
                        return html;
                    }
                }

            });
        });

    </script>


}
