@using Microsoft.AspNetCore.Components
@*
	For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using RestSharp
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@inject ApplicationDbContext _db
@model PersonalWebsiteMVC.Areas.Photos.Models.PhotosViewModel

@TempData["Message"]

@{
	ViewData["Title"] = "Home Page";
	var data = new ImportMapDefinition(
	new Dictionary<string, string>
		{
{ "ckeditor5", "/lib/ckeditor5/ckeditor5.js" },
{ "ckeditor5/", "/lib/ckeditor5/" },
								}, null, null);
}

<div id="Photos">

	<h1>@ViewBag.AlbumName</h1>


	<section>
		@foreach (var photo in Model.PagedPhotos!)
				{

					

			<figure>
				<a class="gallery" href="#Popup"
				   data-name="@photo.Name" data-album-id="@photo.AlbumID" data-photo-id="@photo.PhotoID">
					<img src="@GetThumbs(photo.ImageUrl!, "600x400")" data-id="@photo.AlbumID" data-image="@GetThumbs(photo.ImageUrl!, "600x400")" data-name="@photo.Name">
				</a>

				<figcaption>@photo.Name</figcaption>

			</figure>

		}


	</section>
	<section>
		@if (Model.PagedPhotos is null)
		{
		}
		else
		{
			<p>You are on page @Model.PagedPhotos!.PageNumber of @Model.PagedPhotos.PageCount.</p>

			@Html.PagedListPager((IPagedList)Model.PagedPhotos!, page => Url.Action("Index", "Album", new
{
	pageNumber =
									page,
	area = "Photos",
	name = ViewBag.AlbumName,
	id = Context.Request.Query["id"]
}),
											new PagedListRenderOptions
											{
												DisplayItemSliceAndTotal = false,
												LiElementClasses = new string[] { "page-item" },
												PageClasses = new String[] { "page-link" },
												UlElementClasses = new[] { "pagination" },
											})
		}
	</section>
</div>

<div id="Popup">
</div>



@functions {
	

	string GetThumbs(string path, string size)
	{
		string accessToken = "655SZGJR8uDME26uZ9n760kZPllUcXeMnXXOpi7bGcN7ny92KC4X";
		var client = new RestClient("https://eapi.pcloud.com");
		var request = new RestRequest("getthumblink");
		request.AddParameter("access_token", accessToken);
		request.AddParameter("path", path);
		request.AddParameter("size", size);
		var response = client.Execute(request);
		var result = JsonConvert.DeserializeObject(response.Content!);
		JToken json = JToken.Parse(result!.ToString()!);
		var url = "https://" + json["hosts"]![0] + json["path"];
		return url;
	}

}



@section Scripts {

	<script>

		$('a.gallery').featherlightGallery({
			galleryFadeIn: 100,
			galleryFadeOut: 300,
			previousIcon: '<<',
			nextIcon: '>>',
			afterOpen: function () {
				
			},
			afterContent: function () {

				let content = this.$content[0];
				let instance = this.$instance[0];
				let currentTarget = this.$currentTarget[0];
				let name = currentTarget.dataset['name'];
				let div = instance.querySelector('.featherlight-content');
				div.classList.add('Photo');

				$.ajax({
					method: "POST",
					url: "/Album/GetPhoto",
					data: { name: name, albumID: '@Context.Request.Query["id"]' },
					async: false,
					cache: false,
					success: function (message) {

						$(".featherlight-content").html(message);
					},
					error: function (error) {
						console.log(error);
					}
				});

				let ckElement = instance.querySelector('#ckeditor1');
				ClassicEditor.create(ckElement, {
					licenseKey: 'GPL',
					plugins :[window.CKEditorEssentials, window.CKEditorParagraph, window.CKEditorBold, window.CKEditorItalic, window.CKEditorFont]
				});
			}
		});


	</script>


}
