@using PersonalWebsiteMVC.Areas.Photos.Models
@using RestSharp
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@using Microsoft.Extensions.Configuration
@using X.PagedList.Mvc 
@inject IConfiguration _config 
@model PhotosViewModel


<h1>@Model.SinglePhoto!.Name</h1>


<img src="@GetThumbs(Model.SinglePhoto!.ImageUrl!)">


<h3>Comments</h3>

@if (Model.AllComments!.Count() == 0)
{
    <p>No comments have been found for this photo.  Be the first to add a comment using the form below.</p>
}

<div id="SinglePhoto">

	<section>
		@foreach (Comments comment in Model.PagedComments!)
		{
			<div>
				<p>Posted by @comment.CommentAuthor on @comment.CommentDate</p>
			</div>
			@comment.CommentContent
		}

        @if (Model.AllComments!.Count() == 0)
        {
        }
        else
        {
		@Html.PagedListPager(Model.PagedComments, page => Url.Action("GetComments", new { page }))
        }
	</section>
    <section>
<form id="commentForm" method="post">
    <div>
        <label>Name:</label>
        <input asp-for="Comments.CommentAuthor" class="form-control" id="user" placeholder="John Smith....">
    </div>
    <div>
        <label>Email:</label>
        <input asp-for="Comments.CommentAuthorEmail" class="form-control" id="email" placeholder="john@johnsmith.com">
    </div>
    <div>
        <label>Website:</label>
        <input asp-for="Comments.CommentAuthorUrl" class="form-control" id="website" placeholder="https://www.johnsmith.com">
    </div>
    <div>
        <label>Comment:</label>
        <textarea id="ckeditor1" asp-for="Comments.CommentContent"></textarea>
    </div>
    <button type="submit">Comment</button>
</form>
 </section>



</div>




@functions {
    string GetThumbs(string path)
    {
        var client = new RestClient("https://eapi.pcloud.com");
        var request = new RestRequest("getthumblink");
        request.AddParameter("access_token", _config["PCloud:Local:AccessToken"]);
        request.AddParameter("path", path);
        request.AddParameter("size", "600x400");
        var response = client.Execute(request);
        var result = JsonConvert.DeserializeObject(response.Content!);
        JToken json = JToken.Parse(result!.ToString()!);
        var url = "https://" + json["hosts"]![0] + json["path"];
        return url;
    }
}