@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Http.Extensions
@inject IHttpContextAccessor _http
@inject Wangkanai.Detection.Services.IDetectionService DetectionService

@{
	var data = new ImportMapDefinition(
	new Dictionary<string, string>
	{
{ "ckeditor5", "/lib/ckeditor5/ckeditor5.js" },
{ "ckeditor5/", "/lib/ckeditor5/" },
					}, null, null);
}

<!DOCTYPE html>
<html>

<head>
	<base href="/">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, viewport-fit=cover">
	<meta name="keywords" content="douglas, mcgregor, douglas mcgregor, dotnet 9, asp.net core, asp.net, html5, css, javascript, react, web, developer, web developer, graduate">
	<meta name="description" content="Welcome to my personal website.  Here you will find blog posts on my journey through web development.  You will also find photo galleries of holiday snaps.">
	<meta name="author" content="Douglas McGregor">
	<meta name="robots" content="noindex,nofollow">
	<meta http-equiv="cache-control" content="max-age=0">
	<meta http-equiv="cache-control" content="no-cache">
	<meta http-equiv="expires" content="0">
	<meta http-equiv="expires" content="Tue 01 Jan 1980 1:00:00 GMT">
	<meta http-equiv="pragma" content="no-cache">
	<meta property="og:title" content="Douglas McGregor">
	<meta property="og:url" content="http://www.douglasmcgregor.co.uk">
	<meta property="og:image" content="http://www.douglasmcgregor.co.uk/images/me.jpg">
	<meta property="og:description" content="Welcome to my personal website.  This is a blog about my journey in web developement along with photographs of holiday snaps and a personal touch.">
	<link rel="canconial" href="http://www.douglasmcgregor.co.uk">
	<link rel="stylesheet" href="/lib/jqueryui/themes/ui-lightness/jquery-ui.min.css">
	<link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/lib/featherlight/featherlight.min.css">
	<link rel="stylesheet" href="/lib/featherlight/featherlight.gallery.min.css">
	<link rel="stylesheet" href="/lib/ckeditor5/ckeditor5.css">
	<link rel="stylesheet" href="/css/simplePagination.css">
	<link rel="stylesheet" href="/lib/font-awesome/css/all.min.css">
	<link rel="stylesheet" href="/css/output.css">
	<link rel="stylesheet" href="/css/BlogV1.css">
	<title>@ViewBag.Title</title>
</head>

<body>

	<nav>
		<ul>
			<li><a asp-action="Index" asp-controller="Home" asp-area="">Home</a></li>
			<li><a asp-action="Index" asp-controller="About" asp-area="">About</a></li>
			<li><a asp-area="Blog" asp-controller="Home" asp-action="Index">Blog</a></li>
			<li><a asp-controller="Home" asp-action="Index" asp-area="Photos">Photos</a></li>
			<li><a asp-controller="Portfolio" asp-action="Index" asp-area="">Portfolio</a></li>
			<li><a asp-action="Index" asp-controller="Contact" asp-area="">Contact</a></li>
			<li><a href="#searchBox" id="searchLink"><i class="fa fa-search" id="searchIcon" title="Search the website"></i></a></li>
		</ul>
	</nav>

	<header>
	</header>


	@{
		string url = _http.HttpContext!.Request.GetEncodedUrl();

	}

	<main>
		@if (url.Contains("Photos"))
		{
			@RenderBody()
		}
		else if (url.Contains("Portfolio"))
		{
			@RenderBody()
		}
		else
		{

			<section>
				<article>

					@RenderBody()
				</article>
				<article>
					<partial name="~/Views/Shared/Sidebar/_Sidebar.cshtml">
				</article>
			</section>

		}
	</main>

	<footer>
		Copyright &copy; douglasmcgregor.co.uk @DateTime.Now.ToString("yyyy")
	</footer>

	<div id="searchBox" class="hidden">
		<input type="search" name="txtSearch" id="searchInput">
		<button type="submit" class="btn btn-primary">Search</button>

		<div id="results"></div>
	</div>


	<script src="/lib/jquery/jquery.min.js"></script>


	<script src="/lib/featherlight/featherlight.min.js"></script>
	<script src="/lib/featherlight/featherlight.gallery.min.js"></script>
	<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback" async defer></script>
	<script src="/js/simplePagination.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>
	<script type="importmap" asp-importmap="@data"></script>

	<script type="module">
		import {
			ClassicEditor,
			Essentials,
			Paragraph,
			Bold,
			Italic,
			Font
		} from 'ckeditor5';

		window.ClassicEditor = ClassicEditor;
		window.CKEditorEssentials = Essentials;
		window.CKEditorParagraph = Paragraph;
		window.CKEditorBold = Bold;
		window.CKEditorItalic = Italic;
		window.CKEditorFont = Font;

		if (document.querySelector('#ckeditor1')) {
			ClassicEditor
				.create(document.querySelector('#ckeditor1'), {
					licenseKey: 'GPL',
					plugins: [Essentials, Paragraph, Bold, Italic, Font],
					toolbar: []
				})
				.then(editor => {
					window.editor = editor;

				})
				.catch(error => {
					console.error(error);
				});
		}
	</script>
	<script src="/lib/font-awesome/js/all.min.js"></script>
	<script src="/lib/jqueryui/jquery-ui.min.js"></script>
	<script src="/js/site.js" asp-append-version="true"></script>
	@RenderSection("Scripts", false)


</body>

</html>
