@using System.Text.RegularExpressions
@using PersonalWebsiteMVC.Data
@inject ApplicationDbContext _db
@inject NavigationManager nav
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.WebUtilities
@using PersonalWebsiteMVC.Components.Mobile
@using MudBlazor
@using PersonalWebsiteMVC.Models

@if (_db.Posts.Count() == 0)
{
    <div id="Blog">
        <h1 class="text-4xl text-black">Blog</h1>

        <p>No posts have been found just now. Please check back later.</p>
    </div>
}
else
{
    if (Id > 0)
    {
        var uri = nav.ToAbsoluteUri(nav.Uri);
        if (uri.Fragment.Contains("Comments"))
        {
            
        }
        else
        {
            var post = _db.Posts.Where(p => p.PostID == Id).FirstOrDefault();
            <div id="SinglePost">
                <a href="#Blog" @onclick="GoBack" class="text-underline">Back</a>
                <h1>@post!.PostTitle</h1>
                <p>@((MarkupString)post.PostContent!)</p>
            
                <BlogComments PostID="@post.PostID" />
            </div>
        }
    }
    else
    {
        <div id="Blog">
            <h1>Blog</h1>

            <section>
                @foreach (var item in Model)
                {
                    var result = Truncate(item.PostContent!, 150);

                    <section>

                        @if (item.FeaturedImage != null)
                        {
                            // Media card image header here
                        }

                        <div id="PostContent">
                            <h2>@item.PostTitle</h2>
                            @RemoveHTMLTags(result)
                            <MudButton ButtonType="ButtonType.Button" Color="Color.Primary" Variant="Variant.Filled"  Href="#SinglePost" OnClick="@(() => ViewPost(item.PostID))">Read More</MudButton>
                           
                        </div>
                       
                    </section>
                }
            </section>
        </div>
    }
}

@functions {
    public static string Truncate(string value, int maxChars)
    {
        return value.Length <= maxChars ? value : value.Substring(0, maxChars) + "....";
    }

    public static string RemoveHTMLTags(string html)
    {
        return Regex.Replace(html, "<.*?>", string.Empty);
    }
}

@code {
    public string? Message { get; set; }

    public IEnumerable<PersonalWebsiteMVC.Models.Posts> Model { get; set; } = new List<PersonalWebsiteMVC.Models.Posts>();

    protected override void OnParametersSet()
    {
        Model = _db.Posts.ToList();
    }

    [SupplyParameterFromQuery(Name = "id")]
    public int Id { get; set; }

    public async Task ViewPost(int id)
    {
        var query = new Dictionary<string, string>
{
{"id", id.ToString() },
};
        nav.NavigateTo(QueryHelpers.AddQueryString("#Blog", query!));
        await Task.CompletedTask;
    }

    public async Task ViewComments(int PostID)
    {
        await Task.CompletedTask;
    }

    // Begin code for paging
    [Parameter]
    public int page { get; set; }
    PagingInfo pagingInfo = new PagingInfo();
    public void CreatePagingInfo() 
    {
        var AllPosts = Model;
        int PageSize = 3;
        pagingInfo = new PagingInfo();
        page = page == 0 ? 1 : page;
        pagingInfo.CurrentPage = page;
        pagingInfo.TotalItems = AllPosts.Count();
        pagingInfo.ItemsPerPage = PageSize;

        var skip = PageSize * (Convert.ToInt32(page) - 1);
    }

    void GoBack() 
    {
        nav.NavigateTo("#Blog");
        StateHasChanged();
    }

}