@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model PersonalWebsiteMVC.Areas.Photos.Models.AlbumsViewModel

<div id="Albums">
     <section>
          <h1>Photos</h1>
     </section>
     @if (Model.PagedAlbums!.Count() == 0)
     {
          <p>No albums have been found just now.  Please check back later.</p>
     }
     else
     {
          <section>


               @foreach (var album in Model.PagedAlbums!)
               {
                    if (album.CoverPhoto is null)
                    {
                         <figure>
                              <svg enable-background="new 4 8 40 32" viewBox="4 8 40 32" xmlns="http://www.w3.org/2000/svg" data-name="@album.Name"><path d="m40 12h-18l-4-4h-10c-2.2 0-4 1.8-4 4v8h40v-4c0-2.2-1.8-4-4-4z" fill="#ffa000" /><path d="m40 12h-32c-2.2 0-4 1.8-4 4v20c0 2.2 1.8 4 4 4h32c2.2 0 4-1.8 4-4v-20c0-2.2-1.8-4-4-4z" fill="#ffca28" /></svg>
                              <figcaption><a asp-action="Index" asp-controller="Album" asp-route-name="@album.Name" asp-route-id="@album.AlbumID">@album.Name</a></figcaption>
                         </figure>
                    }
                    else
                    {

                         <figure>
                              <img src="/Gallery/@album.Name/@album.CoverPhoto">
                              <figcaption>
                                   <a asp-action="Index"
                                      asp-controller="Album"
                                      asp-route-name="@album.Name" asp-route-id="@album.AlbumID">@album.Name</a>
                              </figcaption>
                         </figure>
                    }
               }

          </section>
          <section>
               <p>You are on page @Model.PagedAlbums!.PageNumber of @Model.PagedAlbums.PageCount.</p>

               @Html.PagedListPager((IPagedList)Model.PagedAlbums!, page => Url.Action("Index", "Home", new { pageNumber = page, area = "Photos" }),
               new PagedListRenderOptions
               {
                    DisplayItemSliceAndTotal = false,
                    LiElementClasses = new string[] { "page-item" },
                    PageClasses = new String[] { "page-link" }
               })
     </section>
          }

</div>