@*
	For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Areas/Admin/Shared/_Layout.cshtml";
}

@using Microsoft.AspNetCore.Hosting
@inject IWebHostEnvironment _env
@inject ApplicationDbContext _db
@using X.PagedList.Extensions
@using X.PagedList
@using X.Web.PagedList
@using Microsoft.AspNetCore.Routing
@model String

<h1 class="bg bg-info p-1 text-white">Photos for @ViewBag.AlbumName</h1>

@TempData["Message"]

@GetId()

<div id="Photos">

	<section>
		<ul>
			<li><a href="#" id="toggleAll">Select All</a></li>
			<li><a href="#" id="addToDb">Add to Database</a></li>
			<li><a href="#" id="delFromDb">Delete from Database</a></li>
		</ul>
	</section>

	<section>

		@{
            try
            {
                foreach (FileInfo file in ViewBag.OnePageOfFiles)
                {


					<figure>
						<div></div>
						<a href="#" class="gallery" data-name="@file.Name"><img src="/Gallery/@ViewBag.AlbumName/@file.Name" alt="@file.Name" data-name="@file.Name"></a>

						<figcaption>
							@file.Name
							<input type="checkbox" name="cbDb" value="@file.Name">
							<ul>
								<li><a href="#">View</a></li>
								<li><a href="#">Update</a></li>
								<li><a href="#">Details</a></li>
								<li><a href="#">Delete</a></li>
							</ul>

						</figcaption>
					</figure>

                }
            }
            catch (NullReferenceException ex)
            {
				@ex.Message
            }
		}
	</section>


</div>

@if (string.IsNullOrEmpty(Context.Request.Query["album"]))
{
	@Html.PagedListPager((IPagedList)ViewBag.OnePageOfFiles, page => Url.Action("Index", "Photos", new { pageNumber = page, area = "Admin", id = Context.Request.Query["id"] }),
                new PagedListRenderOptions
                {
                    DisplayItemSliceAndTotal = true,
                    LiElementClasses = new string[] { "page-item" },
                    PageClasses = new String[] { "page-link" }
                })
}
else
{
	@Html.PagedListPager((IPagedList)ViewBag.OnePageOfFiles, page => Url.Action("Index", "Photos", new { pageNumber = page, area = "Admin", album = Context.Request.Query["album"] }),
        new PagedListRenderOptions
        {
            DisplayItemSliceAndTotal = true,
            LiElementClasses = new string[] { "page-item" },
            PageClasses = new String[] { "page-link" }
        })
}


@functions {
    int GetId()
    {
        var routeData = Context.GetRouteData();
        return Convert.ToInt32(routeData?.Values["id"]);
    }
}


		@section Scripts {
			<script>

        $(function () {
            $("a.gallery").featherlightGallery({
                beforeOpen: function () {
                    return true;
                },
                afterContent: function () {
                    lastCurrent = this.$currentTarget[0];
                    let name = $(lastCurrent).data('name');
                    let src = $(lastCurrent).find('img').attr('src');
                    this.$instance.find('.featherlight-content').html(`
                        <header>
                            <h1>${name}</h1>
                            <a href="#">Edit</a>
                            <a href="#" id="coverPhoto" data-name="${name}">Make Cover Photo</a>
                            <a href="#" id="renamePhoto" data-name="${name}">Rename Photo</a>
                        </header>
                        <section>
                            <img src="${src}" alt="${name}">
                        </section>
                        <footer>
                        </footer>
                    `);

                    this.$instance.find('featherlight-content').find('#renamePhoto').on('click', function (e) {
                        e.preventDefault();
                        console.log("Link was clicked");
                    });

                    this.$instance.find('.featherlight-content').find('#coverPhoto').on('click', function (e) {
                        e.preventDefault();
                        let name = $(this).data('name');
                        let src = $(this).parent().parent().find('img').attr('src');



                        $.ajax({
                            method: "POST",
                            url: "@Url.Action("SetCoverPic", "Photos")",
                            data: { 'id': '@ViewBag.AlbumID', 'CoverPhoto': `${src}` },
                            async: false,
                            cache: false,
                            success: function (message) {
                                window.location.href = '/Admin/Gallery';
                            },
                            error: function (error) {
                                console.log(error);
                            }
                        });
                    });
                }
            });


            let add = [];
            let del = [];
            let tempArray = [];

            // Begin select individual checkboxes code
            let cb = document.querySelector("#Photos section:nth-of-type(2)").querySelectorAll('input[type="checkbox"]');
            for (var i = 0; i < cb.length; i++) {
                // Seems that you need to add an event listener to checkboxes to make them work in spite of what Google says.
                cb[i].addEventListener('click', function (e) {
                    //e.preventDefault();
                    e.checked = true;
                    tempArray.push(e);
                    // Here we just check all the checkboxes, no need to do anything complicated.
                });


            }

            // End select individual checkboxes code

            // Begin select all checkboxes code
            document.querySelector("#toggleAll").addEventListener('click', function (e) {
                e.preventDefault();
                cb = document.querySelector("#Photos section:nth-of-type(2)").querySelectorAll('input[type="checkbox"]');
                cb.forEach(function (e) {
                    e.checked = true;
                    let name = e.value;
                    let src = $(e).parent().parent().find('img').attr('src');
                    let myDate = moment(new Date()).format("YYYY-MM-DD HH:mm:ss");

                    let isInDb = $.ajax({
                        method: "POST", url: "@Url.Action("AjaxDbCheck", "Photos")", data: { 'name': e.value }, async: false
                    }).responseText;
                    //console.log(isInDb);

                    if (!isInDb) {
                        //console.log(e.value);

                        $.ajax({
                            method: "POST",
                            url: "@Url.Action("GetId", "Photos")",
                            data: { 'name': e.value },
                            async: false,
                            cache: false,
                            success: function (message) {
                                console.log(message);
                                del.push({ 'PhotoID': message });
                            },
                            error: function (error) {
                                console.log(error);
                            }
                        });
                    } else {
                        add.push({ 'AlbumID': '@ViewBag.AlbumID', 'Name': e.value, 'ImageUrl': `${src}`, 'DateCreated': `${myDate}` });
                    }

                });

            });



            // End select all checkboxes code

            $("#addToDb").on('click', function (e) {
                e.preventDefault();


                $.ajax({
                    type: "POST",
                    url: "@Url.Action("AddMultipleToDb", "Photos")",
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    data: JSON.stringify(add),
                    async: false,
                    cache: false,
                    success: function (message) {
                        console.log(message);
                    },
                    error: function (err) {
                        console.log(err);
                    }
                });
            });

            $("#delFromDb").on('click', function (e) {
                e.preventDefault();
                console.log(del);
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("RemoveMultipleFromDb", "Photos")",
                    data: JSON.stringify(del),
                    async: false,
                    cache: false,
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    success: function (message) {
                        window.location.reload();
                    },
                    error: function (err) {
                        console.log(err);
                    }
                });
            });




        });



			</script>

		}
