@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Areas/Admin/Shared/_Layout.cshtml";
}

@using Microsoft.AspNetCore.Hosting
@inject IWebHostEnvironment _env
@inject ApplicationDbContext _db
@using X.PagedList.Extensions
@using X.PagedList
@using X.Web.PagedList
@model String

<h1 class="bg bg-info p-1 text-white">Photos for @ViewBag.AlbumName</h1>

@TempData["Message"]

<div id="Photos">

    <section>
        <ul>
            <li><a href="#" id="toggleAll">Select All</a></li>
            <li><a href="#" id="addToDb">Add to Database</a></li>
            <li><a href="#" id="delFromDb">Delete from Database</a></li>
        </ul>
    </section>

    <section>

        @{
            foreach (FileInfo file in ViewBag.OnePageOfFiles)
            {


                <figure>
                    <div></div>
                    <a href="#" class="gallery" data-name="@file.Name"><img src="/Gallery/@ViewBag.AlbumName/@file.Name" alt="@file.Name" data-name="@file.Name"></a>

                    <figcaption>
                        @file.Name
                        <input type="checkbox" name="cbDb" value="@file.Name">
                        <ul>
                            <li><a href="#">View</a></li>
                            <li><a href="#">Update</a></li>
                            <li><a href="#">Details</a></li>
                            <li><a href="#">Delete</a></li>
                        </ul>

                    </figcaption>
                </figure>

            }
        }
    </section>


</div>

@if (string.IsNullOrEmpty(Context.Request.Query["album"]))
{
    @Html.PagedListPager((IPagedList)ViewBag.OnePageOfFiles, page => Url.Action("Index", "Photos", new { pageNumber = page, area = "Admin", id = Context.Request.Query["id"] }),
                new PagedListRenderOptions
                {
                    DisplayItemSliceAndTotal = true,
                    LiElementClasses = new string[] { "page-item" },
                    PageClasses = new String[] { "page-link" }
                })
}
else
{
    @Html.PagedListPager((IPagedList)ViewBag.OnePageOfFiles, page => Url.Action("Index", "Photos", new { pageNumber = page, area = "Admin", album = Context.Request.Query["album"] }),
        new PagedListRenderOptions
        {
            DisplayItemSliceAndTotal = true,
            LiElementClasses = new string[] { "page-item" },
            PageClasses = new String[] { "page-link" }
        })
}




@section Scripts {
    <script>

        $(function () {
            $("a.gallery").featherlightGallery({
                beforeOpen: function () {
                    return true;
                },
                afterContent: function () {
                    lastCurrent = this.$currentTarget[0];
                    let name = $(lastCurrent).data('name');
                    let src = $(lastCurrent).find('img').attr('src');
                    this.$instance.find('.featherlight-content').html(`
                        <h1>${name}</h1> <span><a href="#">Edit</a></span>
                        <img src="${src}" alt="${name}">
                    `);


                }
            });


            let add = [];
            let del = [];

            // Begin select individual checkboxes code
            let cb = document.querySelector("#Photos section:nth-of-type(2)").querySelectorAll('input[type="checkbox"]');
            for (var i = 0; i < cb.length; i++) {
                // Seems that you need to add an event listener to checkboxes to make them work in spite of what Google says.
                cb[i].addEventListener('click', function (e) {
                    //e.preventDefault();
                    e.checked = true;
                    var isInDb = $.ajax({
                        type: "POST",
                        url: "@Url.Action("AjaxDbCheck", "Photos")",
                        data: { 'name': e.target.value },
                        async: false
                    }).responseText;
                    if (isInDb) {
                        var id = $.ajax({
                            type: "POST",
                            url: "@Url.Action("GetId", "Photos")",
                            data: { 'name': e.target.value },
                            async: false
                        }).responseText;
                        del.push({ 'Id': id, 'name': e.target.value });
                    }
                    else {
                        add.push({ 'name': e.target.value });
                    }
                });
                
            }

            // End select individual checkboxes code

            // Begin select all checkboxes code
            document.querySelector("#toggleAll").addEventListener('click', function (e) {
                e.preventDefault();
                cb = document.querySelector("#Photos section:nth-of-type(2)").querySelectorAll('input[type="checkbox"]');
                cb.forEach(function (e) {
                    e.checked = true;

                    //https://stackoverflow.com/questions/7598821/return-responsetext-from-jquery-get
                    // Seems that you can do this in ajax with async: false and responseText at the end which makes sense
                    var isInDb = $.ajax({ type: "POST", url: "@Url.Action("AjaxDbCheck", "Photos")", data: { 'name': e.value }, async: false }).responseText;


                    if (isInDb) {

                        var id = $.ajax({
                            type: "POST",
                            url: "@Url.Action("GetId", "Photos")", data: { 'name': e.value }, async: false
                        }).responseText;
                        // This now works!!  The time spent studying the ajax documentation was worth it.  Hoorah!  
                        del.push({ 'Id': id });
                    }
                });
                console.log(del.length);
            });
            // End select all checkboxes code

            $("#addToDb").on('click', function (e) {
                e.preventDefault();
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("AddMultipleToDb", "Photos")",
                    data: JSON.stringify(add),
                    async: false,
                    cache: false,
                    success: function (message) {
                        window.location.reload();
                    },
                    error: function (err) {
                        console.log(err);
                    }
                });
            });

            $("#delFromDb").on('click', function (e) {
                e.preventDefault();
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("RemoveMultipleFromDb", "Photos")",
                    data: JSON.stringify(del),
                    async: false,
                    cache: false,
                    success: function (message) {
                        window.location.reload();
                    },
                    error: function (err) {
                        console.log(err);
                    }
                });
            });


        });



    </script>

}
