@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Areas/Admin/Shared/_Layout.cshtml";
}
@model IEnumerable<Photos>
@using Microsoft.AspNetCore.Hosting
@inject IWebHostEnvironment env
@inject ApplicationDbContext _db
<h1 class="bg bg-info p-1 text-white">Photos for @ViewBag.AlbumName</h1>

@Html.Raw(TempData["Message"])

@{
    try
    {
        var path = env.WebRootPath + "\\Gallery\\" + ViewBag.AlbumName;
        var files = Directory.GetFiles(path);
        int count = Directory.GetFiles(path, "*", SearchOption.AllDirectories).Length;
        if (count == 0)
        {
            <p>No files exist for this album.  Add files?</p>
            <form method="post" asp-action="AddFiles" asp-controller="Photos" asp-area="Admin" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="Files">Add Files</label>
                    <input type="file" name="AddFiles" class="form-control-sm" multiple>
                </div>
                <input type="hidden" name="AlbumID" value="@ViewBag.AlbumID">
                <button type="submit" class="btn btn-primary">Add</button>
            </form>
        }


        <div id="Gallery">
            @{

                foreach (FileInfo file in ViewBag.Files)
                {
                    var url = $"/Gallery/{ViewBag.AlbumName}/{file.Name}";

                    <figure>
                        <img id="thumbnail" src="@url" data-name="@file.Name">
                        <figcaption>
                            <a id="test" href="#ex1" rel="modal:open" data-name="@file.Name" data-album="@ViewBag.AlbumName">View</a>
                            <p id="IsInDatabase"></p>
                            <p><input id="checkbox" type="checkbox" name="image" value="@file.Name"></p>
                            @file.Name
                        </figcaption>
                    </figure>

                }

            }


        </div>
    }
    catch (DirectoryNotFoundException ex)
    {
        @ex.Message
        <p>Directory does not exist.  Create it?</p>
        <form method="post" asp-action="CreateFolder" asp-controller="Gallery" asp-area="Admin">
            <input type="hidden" name="GalleryID" value="@ViewBag.GalleryID">
            <button type="submit" class="btn btn-primary">Yes</button>
        </form>
    }
}

<a href="#" id="AddToDb">Add to Database</a> |
<a href="#" id="DelFromDb">Delete from Database</a>


<div id="ex1" class="modal">

</div>


@functions {
    string GetBaseUrl()
    {
        var request = Context.Request;
        var host = request.Host.ToUriComponent();
        var pathBase = request.PathBase.ToUriComponent();
        return $"{request.Scheme}://{host}{pathBase}";
    }

    bool IsInDb(string fileName)
    {
        var photo = _db.Photos.Where(p => p.Name == fileName).FirstOrDefault();

        if (photo!.Name == fileName)
            return true;
        else
            return false;
    }
}

@section Scripts {
    <script>

        $(function () {
           

            function DelFromDb(name) {
                $.ajax({
                    method: "POST",
                    url: "@Url.Action("RemoveFromDb", "Photos", new { album = ViewBag.Album })",
                    data: { 'name': name },
                    success: function (message) {
                        console.log(message);
                        $("#IsInDb").toggle();
                        $("#IsInDb").append(`<a href="#" id="AddImg">Add to Database</a>`);
                        $("#AddImg").on('click', function (e) {
                            $("#IsInDb").toggle();
                            $("#IsInDb").append(`<a href="#" id="DelImg">Delete from Database</a>`);
                        });
                    },
                    error: function (err) {
                        console.log(err);
                    }
                });
            }

            function AddToDb(name) {
                $.ajax({
                    method: "POST",
                    url: "@Url.Action("AddToDb", "Photos", new { album = ViewBag.AlbumName })",
                    data: { 'name': name },
                    success: function (message) {
                        console.log(message);

                        $("#IsInDb").append(`<a href="#" id="DelImg">Delete from Database</a>`);
                        $("#DelImg").on('click', function (e) {
                            e.preventDefault();
                            DelFromDb(name);
                        });
                    },
                    error: function (err) {
                        console.log(err);
                    }
                });
            }



            function CheckDb(name) {
                var result = false;
                $.ajax({
                    method: "POST",
                    url: "@Url.Action("AjaxDbCheck", "Photos")",
                    data: { 'name': name },
                    cache: false,
                    async: false,
                }).done(function (data, textStatus, xhr) {

                    if (xhr.responseText === "false") {
                        result = false;
                    } else {
                        result = true;
                    }
                });
                return result;
            }

            function IsInDb(name, src) {
                $("#ex1").html(`
                     <h2>${name}</h2>
                     <img src="${src}" alt="${name}">
                     <div id="IsInDb"></div>
                `);

                var db = $.ajax({
                    method: "POST",
                    url: "@Url.Action("AjaxDbCheck", "Photos", new { album = ViewBag.AlbumName })",
                    data: { 'name': name },
                    cache: false,
                    async: false,
                }).done(function (data, textStatus, xhr) {
                    console.log(xhr.responseText);
                    if (xhr.responseText === "false") {
                        $("#IsInDb").html(`<a href="#" id="AddImg">Add to Database</a>`);
                        $("#AddImg").on('click', function (e) {
                            e.preventDefault();
                            AddToDb(name);
                        });

                    } else {
                        $("#IsInDb").html(`<a href="#" id="DelImg">Delete from Database</a>`);
                        $("#DelImg").on('click', function (e) {
                            e.preventDefault();
                            DelFromDb(name);
                        });

                    }
                });

            }


            $("#Gallery figure").each(function (index, value) {
                let name = $(value).find("img").data('name');
                let src = $(value).find("img").attr('src');
                let album = $(value).find("a").data('album');
                let confirm = undefined;

                $(this).find("figcaption").hide();

                if (CheckDb(name) === false) {

                    $(this).find("figcaption").find("p:first").text("Not in database");
                    confirm = $(this).find("figcaption").find("p:first").text();
                } else {
                    $(this).find("figcaption").find("p:first").text("Is in database.");
                    confirm = $(this).find("figcaption").find("p:first").text();
                }

                $(this).on('mouseenter', function (e) {
                    e.preventDefault();
                    $(this).find("figcaption").addClass('.overlay');
                    $(this).find("figcaption").show();
                    
                    
                });

                $(this).on('mouseleave', function (e) {
                    e.preventDefault();
                    $(this).find("figcaption").removeClass('.overlay');
                    $(this).find("figcaption").hide();

                });

                
            });

            var add = [];
            var del = [];

            // After spending a whole night on this, the conclusion is that it needs to be done in plain old JavaScript insted of jQuery.  With jQuery I am limited to variables inside event handlers where is JS lets me do exactly what I want.  This should be very easy so I'm surprised its so difficult in jQuery.  
            let cb = document.querySelectorAll("input[name='image']");
            cb.forEach(function (item, index) {
                let src = item.getAttribute("src");

                $("#test").on('click', function () {
                    $("#ex1").html(`
                        <img src="${src}">
                        ${item.getAttribute("id")
}
                    `);
                });


                let confirm = item.closest("figcaption").querySelector("p").innerText;
                item.addEventListener('click', function () {
                    console.log(PicId(item.getAttribute("value")));
                    var id = PicId(item.getAttribute("value"));

                    if (confirm === "Is in database.") { // Wasn't working because a really simple string character was missing.
                        del.push({ 'Id': id, 'Name': item.getAttribute("value") });
                    } else {
                        add.push({ 'Name': item.getAttribute("value") });
                    }
                });
            });
            console.log(del);
            
            $("#AddToDb").on('click', function (e) {
                $.ajax({
                    method: "POST",
                    url: "@Url.Action("AddMultipleToDb", "Photos")",
                    data: JSON.stringify(add),
                    contentType: 'application/json',
                    cache: false,
                    async: false,
                    success: function (message) {
                        console.log(message);
                    },
                    error: function (err) {
                        console.log(err);
                    }
                });
            });

            $("#DelFromDb").on('click', function (e) {
          
                $.ajax({
                    method: "POST",
                    url: "@Url.Action("RemoveMultipleFromDb", "Photos")",
                    data: JSON.stringify(del),
                    contentType: 'application/json',
                    cache: false,
                    async: false,
                    success: function (message) {
                        console.log(message);
                    },
                    error: function (err) {
                        console.log(err);
                    }
                });
            });

            function PicId(name) {
                var id = 0;
                $.ajax({
                    method: "POST",
                    url: "@Url.Action("GetPicId", "Photos")",
                    data: { 'name': name },
                    cache: false,
                    async: false,
                    success: function (message) {
                        id = message;
                    },
                    error: function (err) {
                        console.log(err);
                    }
                });
                return id;
            }
        });

    </script>
}

