@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Areas/Admin/Shared/_Layout.cshtml";
}
@model IEnumerable<Photos>
@using Microsoft.AspNetCore.Hosting
@inject IWebHostEnvironment env
@inject ApplicationDbContext _db
<h1 class="bg bg-info p-1 text-white">Photos for @ViewBag.AlbumName</h1>

@TempData["Message"]
@{
    try
    {
        var path = env.WebRootPath + "\\Gallery\\" + ViewBag.AlbumName;
        var files = Directory.GetFiles(path);
        int count = Directory.GetFiles(path, "*", SearchOption.AllDirectories).Length;
        if (count == 0)
        {
            <p>No files exist for this album.  Add files?</p>
            <form method="post" asp-action="AddFiles" asp-controller="Photos" asp-area="Admin" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="Files">Add Files</label>
                    <input type="file" name="AddFiles" class="form-control-sm" multiple>
                </div>
                <input type="hidden" name="AlbumID" value="@ViewBag.AlbumID">
                <button type="submit" class="btn btn-primary">Add</button>
            </form>
        }


        <div id="Gallery">
            @{

                foreach (FileInfo file in ViewBag.Files)
                {
                    var url = $"/Gallery/{ViewBag.AlbumName}/{file.Name}";

                    <figure>
                        <a id="test" href="#ex1" rel="modal:open" data-name="@file.Name" data-album="@ViewBag.AlbumName"><img src="@url"></a>
                        <figcaption>
                            <p><input type="checkbox" name="image" id="myCheckbox" value="@file.Name"></p>
                            @file.Name
                        </figcaption>
                    </figure>

                }

            }


        </div>
    }
    catch (DirectoryNotFoundException ex)
    {
        @ex.Message
        <p>Directory does not exist.  Create it?</p>
        <form method="post" asp-action="CreateFolder" asp-controller="Gallery" asp-area="Admin">
            <input type="hidden" name="GalleryID" value="@ViewBag.GalleryID">
            <button type="submit" class="btn btn-primary">Yes</button>
        </form>
    }
}

<p><a href="#" id="AddToDb">Add to Database</a></p>

<div id="ex1" class="modal">

</div>





@functions {
    string GetBaseUrl()
    {
        var request = Context.Request;
        var host = request.Host.ToUriComponent();
        var pathBase = request.PathBase.ToUriComponent();
        return $"{request.Scheme}://{host}{pathBase}";
    }

    bool IsInDb(string fileName)
    {
        var photo = _db.Photos.Where(p => p.Name == fileName).FirstOrDefault();
        try
        {
            if (photo!.Name == fileName)
                return true;
            else
                return false;
        }
        catch (NullReferenceException ex)
        {
            return false;
        }

    }
}

@section Scripts {
    <script>
        let tmp = [];

    // Noted that the cache seems to prevent the image from changing.
        $(function () {

            $('#test[data-name]').each(function (i) {

                $(this).on('click', function (e) {
                    e.preventDefault();
                    var name = $(this).data('name');
                    var album = $(this).data('album');

                    $.ajax({
                        method: "POST",
                        url: "@Url.Action("AjaxDbCheck", "Photos")",
                        data: { name: name },
                        dataType: "text",
                        success: function (message) {
                            if (message) {
                                $("#IsInDb").append("<a href='#' id='AddToDb'>Add to Database</a>");
                                $("#IsInDb").attr("data-name", name); // Correct way to dynamically add data attributes in jQuery
                                //console.log($("#IsInDb").data('name'));

                                $("#AddToDb").on("click", function (e) {
                                    e.preventDefault();
                                    console.log($(this).data('name'));
                                });
                            }

                        },
                        error: function (error) {
                            console.log(error);
                        }
                    });


                    $(".modal").empty();
                    $(".modal").append(`
   <h1>${name}</h1>
   <figure>
   <img src="/Gallery/${album}/${name}" alt="${name}">
   <figcaption>${name}</figcaption>
   </figure>
   <div id="IsInDb">

   </div>
   <div id="Comments"></div>
   <a href="#" rel="modal:close" class="btn btn-secondary">Close</a>
`);
                });
            });

            $("#Gallery figcaption").hide();

            // This needs to be the figure element instead of the image element.
            $('#Gallery figure').each(function (index, value) {
                // Check if image is in database


                var dataArr = new Array();
                var tmp = [];

                $(this).on('mouseenter', function () {
                    // Keeping it simple, we need to code the prepend in the HTML above directly otherwise it will not work.
                    $(this).find("figcaption").addClass('.overlay');
                    var name = $(this).find("figcaption").text();
                    $(this).find("figcaption").show();
                });


                $(this).on('mouseleave', function () {
                    $(this).find("figcaption").removeClass(".overlay");
                    $(this).find("figcaption").hide();
                });


            });



            $('input[name="image"]').each(function (index, value) {
                $(this).change(function (e) {
                    if (($(this).is(':checked'))) {
                        AddPic($(this).val());
                        
                    }
                    else {
                        RemovePic($(this).val(), index);
                    }
                });
            });

           
        });

        // This needs to be done object oriented programming style for it to work.  Makes sense, since a single object can be processed outside the each loop.
        function AddPic(name) {
            tmp.push({ 'name': name });

        }

        // Function to remove pic from array with name and index parameters
        function RemovePic(name, index) {
            var index = tmp.indexOf(name);
            if (index > -1) {
                arr.splice(index, 1);
            }
        }

        $("#AddToDb").on('click', function (e) {
            e.preventDefault();
            $.ajax({
                method: "POST",
                url: "@Url.Action("AddMultipleToDb", "Photos")",
                data: JSON.stringify(tmp),
                dataType: 'json',
                success: function (message) {
                    console.log(message);
                },
                error: function (error) {
                    console.log(error);
                }
            });
        });

        console.log(tmp);

    </script>
}

