@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Areas/Admin/Shared/_Layout.cshtml";
}

@using Microsoft.AspNetCore.Hosting
@inject IWebHostEnvironment _env
@inject ApplicationDbContext _db
@using X.PagedList.Mvc.Core
@using X.PagedList
@using HGO.ASPNetCore.FileManager.ViewComponentsModel

<h1 class="bg bg-info p-1 text-white">Photos for @ViewBag.AlbumName</h1>

@TempData["Message"]

<div id="Gallery">
    @{
        foreach (FileInfo file in ViewBag.OnePageOfFiles)
        {


            <figure>
                <div></div>
                <img src="/Gallery/@ViewBag.AlbumName/@file.Name" alt="@file.Name" data-name="@file.Name">
                <figcaption>@file.Name</figcaption>
            </figure>

        }
    }


</div>

@if (string.IsNullOrEmpty(Context.Request.Query["album"]))
{
    @Html.PagedListPager((IPagedList)ViewBag.OnePageOfFiles, page => Url.Action("Index", "Photos", new { pageNumber = page, area = "Admin", id = Context.Request.Query["id"] }),
                new PagedListRenderOptions
                {
                    DisplayItemSliceAndTotal = true,
                    LiElementClasses = new string[] { "page-item" },
                    PageClasses = new String[] { "page-link" }
                })
}
else
{
    @Html.PagedListPager((IPagedList)ViewBag.OnePageOfFiles, page => Url.Action("Index", "Photos", new { pageNumber = page, area = "Admin", album = Context.Request.Query["album"] }),
        new PagedListRenderOptions
        {
            DisplayItemSliceAndTotal = true,
            LiElementClasses = new string[] { "page-item" },
            PageClasses = new String[] { "page-link" }
        })
}

<button type="button" class="btn btn-link" data-toggle="modal" data-target=".modal">Manage Album</button>



<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @await Component.InvokeAsync("FileManagerComponent", new FileManagerModel()
           {
               Id = "FM1",
               RootFolder = System.IO.Path.Combine(_env.ContentRootPath, "Gallery", ViewBag.AlbumName),
               ApiEndPoint = Url.Action("HgoApi")!,
               Config = new FileManagerConfig()
           })
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="photoModal" tabindex="-1" role="dialog" aria-labelledby="photoModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="photoModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@functions {
    bool IsInDb(string name)
    {
        var album = _db.Albums.Where(a => a.Name == name).Any();
        if (album)
            return true;
        else
            return false;
    }
}

@section Scripts {
    <script>

        $(function () {

            function GetId(name) {
                let result = undefined;
                $.ajax({
                    method: "POST",
                    url: "@Url.Action("GetPicId", "Photos")",
                    data: {
                        'name': name,
                    },
                    async: false,
                    cache: false,
                    success: function (message) {
                        result = message;
                    },
                    error: function (err) {
                        console.log(err);
                    }
                });
                return result;
            }

            function CheckDb(name) {
                var result = false;
                $.ajax({
                    method: "POST",
                    url: "@Url.Action("AjaxDbCheck", "Photos")",
                    data: { 'name': name },
                    cache: false,
                    async: false,
                    success: function (message) {
                        //console.log(message);
                        result = message;
                    },
                    error: function (err) {
                        //console.log(err);
                    }
                });
                return result;
            }


            $("#photoModal").find(".modal-body button").on('click', function (e) {
                e.preventDefault();
                console.log("Link was clicked!");
            });


            $("#Gallery figure").each(function (index, value) {
                let strName = $(value).find("img").data('name');
                let src = $(value).find("img").attr('src');
                let album = $(value).find("a").data('album');
                let open = $(value).find("a:first-child");
                let confirm = undefined;



                if (CheckDb(strName) === true) {
                    $(value).find("div:nth-of-type(1)").html(`
                        <p>Is in database</p>

                        <input type="checkbox" value="${strName}">
                    `);

                } else {
                    $(value).find("div:nth-of-type(1)").html(`
                        <p>Not in database</p>
                        <a href="#">View</a>
                        <input type="checkbox" value="${strName}">
                    `);

                }



                $(value).find("a").on('click', function (event) {
                    event.preventDefault();
                    $("#photoModal").modal('show');
                    $("#photoModal").find('.modal-title').html(`
                        <h1>${strName}</h1>

                        <a href="#">Edit</a>
                    `);
                    $("#photoModal").find(".modal-body").html(`
                        <img src="/Gallery/@ViewBag.AlbumName/${strName}" data-name="${strName}" data-album="@ViewBag.AlbumName">
                        <a href="#">Make cover photo</a>
                    `);
                    $("#photoModal").find(".modal-body").find("a").on('click', function (e) {
                        e.preventDefault();
                        // Ajax here to make cover photo.....
                        let name = $("#photoModal").find(".modal-body").find("img").data('name');
                        $.ajax({
                            method: "POST",
                            url: "@Url.Action("SetCoverPic", "Photos", new { id = ViewBag.AlbumID })",
                            data: { 'name': name },
                            async: false,
                            cache: false,
                            success: function (message) {
                                console.log(message);
                                window.location.assign('@Url.Action("Index", "Gallery")');
                            },
                            error: function (err) {
                                console.log(err);
                            }
                        });
                    });
                  
                    $("#photoModal").find(".modal-header").find("a").on('click', function (e) {
                        // Here we populate the html bootstrap modal dynamically
                        e.preventDefault();
                        $("#photoModal").find(".modal-header").html(`
                            <form method="post">
                                <div class="form-group">
                                    <label>Name:</label>
                                    <input type="text" class="form-control" value="${strName}">
                                    <input type="hidden" value="${strName}">
                                </div>
                                <button type="submit" class="btn btn-link">Update</button>
                            </form>
                        `);
                        // Here we check if the form was subitted and perform ajax operations to rename the file
                        $("#photoModal").find(".modal-header").find("form").submit(function (e) {
                            e.preventDefault();
                            let strNew = $("#photoModal").find(".modal-header").find("input[type='text']").val();
                            let strOld = $("#photoModal").find(".modal-header").find("input[type='hidden']").val();
                            let strAlbum = $("#photoModal").find(".modal-content").find("img").data('album');
                            console.log(strOld);
                            $.ajax({
                                method: "POST",
                                url: "@Url.Action("RenameFile", "Photos", new { album = ViewBag.AlbumName })",
                                data: JSON.stringify({ 'strOld': strOld, 'strNew': strNew, 'album': strAlbum }),
                                headers: {
                                'Content-Type': 'application/json',
                            },
                                async: false,
                                cache: false,
                                success: function (message) {
                                    console.log(message);
                                    window.location.assign('@Url.Action("Index", "Photos", new { id = Context.Request.Query["id"], area = "Admin" })');
                                },
                                error: function (err) {
                                            console.log(err);
                                        }
                                    });
                        });
                    });
                });





                $(this).on('mouseenter', function (e) {
                    e.preventDefault();
                    $(value).find("#DbCheck").addClass("overlay");
                    $(value).find("div:nth-of-type(1)").css("display", "flex");
                    $(value).find("div:nth-of-type(1)").addClass("overlay");
                });

                $(this).on('mouseleave', function (e) {
                    e.preventDefault();
                    $(value).find("div:nth-of-type(1)").css("display", "none");
                    $(value).find("div:nth-of-type(1)").removeClass("overlay");
                });


            });

            var add = [];
            var del = [];

            // After spending a whole night on this, the conclusion is that it needs to be done in plain old JavaScript insted of jQuery.  With jQuery I am limited to variables inside event handlers where is JS lets me do exactly what I want.  This should be very easy so I'm surprised its so difficult in jQuery.
            let cb = document.querySelectorAll("figure");
            cb.forEach(function (item, index) {


                item.addEventListener('click', function (event) {

                    //event.preventDefault();
                    // Here we don't use event.preventDefault() as that simply makes checkbox click not work.  Basics.
                    let confirm = item.querySelector("div").querySelector("p").innerHTML;
                    let value = item.querySelector("input").getAttribute("value");
                    let img = document.querySelector("#Gallery figure").querySelector("img").getAttribute("src");

                    if (confirm === "") {
                    } else {
                        let id = GetId(value);
                        if (confirm == "Is in database") { // Wasn't working because a really simple string character was missing.


                            del.push({ 'Id': id, 'Name': item.getAttribute("value") });
                        } else {

                            add.push({ 'Name': value, 'AlbumID': id, 'ImageUrl': img });
                        }
                    }

                });

            });

            $("#AddToDb").on('click', function (e) {
                // Here we create an ajax request to add the selected checkbox values to the database.  We don't even have to use a separate function as this is handled by a click event.  It's that simple.
                $.ajax({
                    method: "POST",
                    url: "@Url.Action("AddMultipleToDb", "Photos")",
                    data: JSON.stringify(add), // Data was always null here because of incorrect syntax use.  JSON.stringify(add) is the correct way to achieve this.
                    headers: {
                        'Content-type': 'application/json',
                    },
                    async: false,
                    cache: false,
                    success: function (message) {
                        console.log(message);
                        window.location.reload(); // Needed since we are just trying to update the page with ajax and don't need a server side redirect.
                    },
                    error: function (err) {
                        //console.log(err);
                    }
                });
            });

            $("#DelFromDb").on('click', function (event) {
                event.preventDefault();
                $.ajax({
                    method: "POST",
                    url: "@Url.Action("RemoveMultipleFromDb", "Photos")",
                    data: JSON.stringify(del),
                    headers: {
                        'Content-type': 'application/json',
                    },
                    async: false,
                    cache: false,
                    success: function (message) {
                        console.log(message);
                        window.location.reload(); // Needed since we are just trying to update page data with ajax and don't need server side redirect.
                    },
                    error: function (err) {
                        console.log(err);
                    }
                });

                $("#photoModal").find(".modal-body").find("a").on('click', function (e) {
                    e.preventDefault();
                    console.log("Link was clicked!");
                    console.log($(e.target.html()));
                });
            });

        });



    </script>

}
