@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Areas/Admin/Shared/_Layout.cshtml";
}
@model IEnumerable<Photos>
@using Microsoft.AspNetCore.Hosting
@inject IWebHostEnvironment env
@inject ApplicationDbContext _db
<h1 class="bg bg-info p-1 text-white">Photos for @ViewBag.AlbumName</h1>

@TempData["Message"]
@{
    try
    {
        var path = env.WebRootPath + "\\Gallery\\" + ViewBag.AlbumName;
        var files = Directory.GetFiles(path);
        int count = Directory.GetFiles(path, "*", SearchOption.AllDirectories).Length;
        if (count == 0)
        {
            <p>No files exist for this album.  Add files?</p>
            <form method="post" asp-action="AddFiles" asp-controller="Photos" asp-area="Admin" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="Files">Add Files</label>
                    <input type="file" name="AddFiles" class="form-control-sm" multiple>
                </div>
                <input type="hidden" name="AlbumID" value="@ViewBag.AlbumID">
                <button type="submit" class="btn btn-primary">Add</button>
            </form>
        }


        <div id="Gallery">
            @{

                foreach (FileInfo file in ViewBag.Files)
                {
                    var url = $"/Gallery/{ViewBag.AlbumName}/{file.Name}";

                    <figure>
                        <img id="thumbnail" src="@url" data-name="@file.Name">
                        <figcaption>
                            <a id="test" href="#ex1" rel="modal:open" data-name="@file.Name" data-album="@ViewBag.AlbumName">View</a>
                        </figcaption>
                    </figure>

                }

            }


        </div>
    }
    catch (DirectoryNotFoundException ex)
    {
        @ex.Message
        <p>Directory does not exist.  Create it?</p>
        <form method="post" asp-action="CreateFolder" asp-controller="Gallery" asp-area="Admin">
            <input type="hidden" name="GalleryID" value="@ViewBag.GalleryID">
            <button type="submit" class="btn btn-primary">Yes</button>
        </form>
    }
}

<p><a href="#" id="AddToDb">Add to Database</a></p>

<div id="ex1" class="modal">

</div>


@functions {
    string GetBaseUrl()
    {
        var request = Context.Request;
        var host = request.Host.ToUriComponent();
        var pathBase = request.PathBase.ToUriComponent();
        return $"{request.Scheme}://{host}{pathBase}";
    }

    bool IsInDb(string fileName)
    {
        var photo = _db.Photos.Where(p => p.Name == fileName).FirstOrDefault();
        try
        {
            if (photo!.Name == fileName)
                return true;
            else
                return false;
        }
        catch (NullReferenceException ex)
        {
            return false;
        }

    }
}

@section Scripts {
    <script>
        $(function () {
            function CheckDb(name, album, src) {
                let result = false;
                let isInDb = `
                    <h2>${name}</h2>
                    <img src="${src}" alt="${name}">
                    <a href="#" id="DelImg">Delete from Database</a>
                `;
                let notInDb = `
                    <h2>${name}</h2>
                    <img src="${src}" alt="${name}">
                    <a href="#" id="AddImg">Add to Database</a>
                `;
                $.get("@Url.Action("AjaxDbCheck", "Photos", new { album = ViewBag.AlbumName })", function (data, status) {
                    console.log("Data: " + data + "\nStatus: " + status);
                });

                $("#AddImg").on('click', function (e) {
                console.log("Link was clicked");
            });
                        return result;
                    }
            

            $("#Gallery figure").each(function (index, value) {
                
                $(this).find("a").on('click', function (e) {
                            let name = $(value).find("img").data('name');
                            let src = $(value).find("img").attr('src');
                            let album = $(value).find("a").data('album');
                            CheckDb(name, album, src);
                        });
                    });

          
        });
    </script>
}

