@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Areas/Admin/Shared/_Layout.cshtml";
}

@using Microsoft.AspNetCore.Hosting
@inject IWebHostEnvironment _env
@inject ApplicationDbContext _db
@using X.PagedList.Extensions
@using X.PagedList
@using X.Web.PagedList
@using HGO.ASPNetCore.FileManager.ViewComponentsModel
@model String

<h1 class="bg bg-info p-1 text-white">Photos for @ViewBag.AlbumName</h1>

@TempData["Message"]

<div id="Photos">

    <section>
        <a href="#" id="toggleAll">Select All</a>
    </section>

    <section>
        @{
            foreach (FileInfo file in ViewBag.OnePageOfFiles)
            {


                <figure>
                    <div></div>
                    <img src="/Gallery/@ViewBag.AlbumName/@file.Name" alt="@file.Name" data-name="@file.Name">
                    <figcaption>@file.Name</figcaption>
                </figure>

            }
        }
    </section>


</div>

@if (string.IsNullOrEmpty(Context.Request.Query["album"]))
{
    @Html.PagedListPager((IPagedList)ViewBag.OnePageOfFiles, page => Url.Action("Index", "Photos", new { pageNumber = page, area = "Admin", id = Context.Request.Query["id"] }),
                new PagedListRenderOptions
                {
                    DisplayItemSliceAndTotal = true,
                    LiElementClasses = new string[] { "page-item" },
                    PageClasses = new String[] { "page-link" }
                })
}
else
{
    @Html.PagedListPager((IPagedList)ViewBag.OnePageOfFiles, page => Url.Action("Index", "Photos", new { pageNumber = page, area = "Admin", album = Context.Request.Query["album"] }),
        new PagedListRenderOptions
        {
            DisplayItemSliceAndTotal = true,
            LiElementClasses = new string[] { "page-item" },
            PageClasses = new String[] { "page-link" }
        })
}

<button type="button" class="btn btn-link" data-toggle="modal" data-target=".modal">Manage Album</button>



<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @await Component.InvokeAsync("FileManagerComponent", new FileManagerModel()
           {
               Id = "FM1",
               RootFolder = System.IO.Path.Combine(_env.ContentRootPath, "Gallery", ViewBag.AlbumName),
               ApiEndPoint = Url.Action("HgoApi")!,
               Config = new FileManagerConfig()
           })
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="photoModal" tabindex="-1" role="dialog" aria-labelledby="photoModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="photoModalLabel">Modal title</h5>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@functions {
    bool IsInDb(string name)
    {
        var album = _db.Albums.Where(a => a.Name == name).Any();
        if (album)
            return true;
        else
            return false;
    }


}

@section Scripts {
    <script>

        $(function () {

            function GetId(name) {
                let result = undefined;
                $.ajax({
                    method: "POST",
                    url: "@Url.Action("GetPicId", "Photos")",
                    data: {
                        'name': name,
                    },
                    async: false,
                    cache: false,
                    success: function (message) {
                        result = message;
                    },
                    error: function (err) {
                        console.log(err);
                    }
                });
                return result;
            }

            function CheckDb(name) {
                var result = false;
                $.ajax({
                    method: "POST",
                    url: "@Url.Action("AjaxDbCheck", "Photos")",
                    data: { 'name': name },
                    cache: false,
                    async: false,
                    success: function (message) {
                        //console.log(message);
                        result = message;
                    },
                    error: function (err) {
                        //console.log(err);
                    }
                });
                return result;
            }


            $("#photoModal").find(".modal-body button").on('click', function (e) {
                e.preventDefault();
                console.log("Link was clicked!");
            });

            let section = document.querySelector("section:nth-of-type(2)");
            let figure = section.querySelectorAll("figure");
            figure.forEach(function (element, index) {
                let name = $(element).find('img').data('name');

                if (CheckDb(name) === true) {
                    $(element).find('div').html(`
                        <p>Is in database</p>
                        ${name}
                        <input type="checkbox" value="${name}">
                    `);
                } else {
                    $(element).find('div').html(`
                        <p>Not in database</p>
                        <input type="checkbox" value="${name}">
                    `);
                }

                $(element).on('mouseenter', function (e) {
                    e.preventDefault();
                    $(element).find('div').css('display', 'flex');
                });

                $(element).on('mouseleave', function (e) {
                    e.preventDefault();
                    $(element).find('div').css('display', 'none');
                });

                console.log(querySelector(element));

            });
        });

    </script>

}
