@*
	For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	Layout = "~/Areas/Admin/Shared/_Layout.cshtml";
}
@model IEnumerable<Photos>
@using Microsoft.AspNetCore.Hosting
@inject IWebHostEnvironment env
@inject ApplicationDbContext _db
<h1 class="bg bg-info p-1 text-white">Photos for @ViewBag.AlbumName</h1>

@TempData["Message"]
@{
	try
	{
		var path = env.WebRootPath + "\\Gallery\\" + ViewBag.AlbumName;
		var files = Directory.GetFiles(path);
		int count = Directory.GetFiles(path, "*", SearchOption.AllDirectories).Length;
		if (count == 0)
		{
			<p>No files exist for this album.  Add files?</p>
			<form method="post" asp-action="AddFiles" asp-controller="Photos" asp-area="Admin" enctype="multipart/form-data">
				<div class="form-group">
					<label for="Files">Add Files</label>
					<input type="file" name="AddFiles" class="form-control-sm" multiple>
				</div>
				<input type="hidden" name="AlbumID" value="@ViewBag.AlbumID">
				<button type="submit" class="btn btn-primary">Add</button>
			</form>
		}


		<div id="Gallery">
			@{
			
				foreach (FileInfo file in ViewBag.Files)
				{
					var url = $"/Gallery/{ViewBag.AlbumName}/{file.Name}";
					if (IsInDb(file.Name))
					{

					}
					else
					{

						<figure>
							<a id="test" href="#ex1" rel="modal:open" data-name="@file.Name" data-album="@ViewBag.AlbumName"><img src="@url"></a>
							<figcaption>

							</figcaption>
						</figure>
					}
				}
			}
		</div>
	}
	catch (DirectoryNotFoundException ex)
	{
		@ex.Message
		<p>Directory does not exist.  Create it?</p>
		<form method="post" asp-action="CreateFolder" asp-controller="Gallery" asp-area="Admin">
			<input type="hidden" name="GalleryID" value="@ViewBag.GalleryID">
			<button type="submit" class="btn btn-primary">Yes</button>
		</form>
	}
}

<div id="ex1" class="modal">

</div>





@functions {
	string GetBaseUrl()
	{
		var request = Context.Request;
		var host = request.Host.ToUriComponent();
		var pathBase = request.PathBase.ToUriComponent();
		return $"{request.Scheme}://{host}{pathBase}";
	}

	bool IsInDb(string fileName)
	{
		var photo = _db.Photos.Where(p => p.Name == fileName).FirstOrDefault();
		try
		{
			if (photo!.Name == fileName)
				return true;
			else
				return false;
		}
		catch (NullReferenceException ex)
		{
			return false;
		}

	}
}

