@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Areas/Admin/Shared/_Layout.cshtml";
}

@using Microsoft.AspNetCore.Hosting
@inject IWebHostEnvironment env
@inject ApplicationDbContext _db
@using X.PagedList.Mvc.Core
@using X.PagedList

<h1 class="bg bg-info p-1 text-white">Photos for @ViewBag.AlbumName</h1>

@TempData["Message"]

@{
    try
    {
        var path = env.WebRootPath + "\\Gallery\\" + ViewBag.AlbumName;
        var files = Directory.GetFiles(path);
        int count = Directory.GetFiles(path, "*", SearchOption.AllDirectories).Length;
        if (count == 0)
        {
            <p>No files exist for this album.  Add files?</p>
            <form method="post" asp-action="AddFiles" asp-controller="Photos" asp-area="Admin" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="Files">Add Files</label>
                    <input type="file" name="AddFiles" class="form-control-sm" multiple>
                </div>
                <input type="hidden" name="AlbumID" value="@ViewBag.AlbumID">
                <button type="submit" class="btn btn-primary">Add</button>
            </form>
        }


        <div id="Gallery">
            @{
                try
                {
                    foreach (FileInfo file in ViewBag.OnePageOfFiles)
                    {
                        var url = $"/Gallery/{ViewBag.AlbumName}/{file.Name}";

                        <figure>
                            <img id="thumbnail" src="@url" data-name="@file.Name">
                            <figcaption>
                                <a id="test" href="" data-name="@file.Name" data-album="@ViewBag.AlbumName">View</a>
                                <p id="IsInDatabase"></p>
                                <p><input id="checkbox" type="checkbox" name="image" value="@file.Name"></p>
                                @file.Name
                            </figcaption>
                        </figure>

                    }
                }
                catch (NullReferenceException ex)
                {
                    @ex.Message
                }
            }


        </div>



    }
    catch (DirectoryNotFoundException ex)
    {
        @ex.Message
        <p>Directory does not exist.  Create it?</p>
        <form method="post" asp-action="CreateFolder" asp-controller="Gallery" asp-area="Admin">
            <input type="hidden" name="GalleryID" value="@ViewBag.GalleryID">
            <button type="submit" class="btn btn-primary">Yes</button>
        </form>
    }
}

<a href="#" id="AddToDb">Add to Database</a> |
<a href="#" id="DelFromDb">Delete from Database</a>

<!--
    
    In order to get this working I had to disable endpoint routing in Program.cs and add app.UseMvc and map the route to the area.  There is also a bug in X.PagedList as described below.
   https://github.com/dncuug/X.PagedList/issues/133

-->

@Html.PagedListPager((IPagedList)ViewBag.OnePageOfFiles, page => Url.Action("Index", "Photos", new { pageNumber = page, area = "Admin", id = ViewBag.AlbumID }), new PagedListRenderOptions
{
    PageClasses = new string[] { "page-link" },
    UlElementClasses = new string[] { "pagination" },
    LiElementClasses = new string[] { "page-item" },
    DisplayItemSliceAndTotal = true,
});

<div class="modal fade" id="myModal" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
            </div>
            <div class="modal-body">
                <img src="" alt="" id="image">
                <div id="IsInDb">
                    <a href="#" id="AddToDb">Add to Database</a>
                    <a href="#" id="DelFromDb">Delete from Database</a>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


@functions {

}


@section Scripts {
    <script>

        $(function () {

            function CheckDb(name) {
                var result = false;
                $.ajax({
                    method: "POST",
                    url: "@Url.Action("AjaxDbCheck", "Photos")",
                    data: { 'name': name },
                    cache: false,
                    async: false,
                }).done(function (data, textStatus, xhr) {

                    if (xhr.responseText === "false") {
                        result = false;
                    } else {
                        result = true;
                    }
                });
                return result;
            }




            $("#Gallery figure").each(function (index, value) {
                let strName = $(value).find("img").data('name');
                let src = $(value).find("img").attr('src');
                let album = $(value).find("a").data('album');
                let open = $(value).find("a");
                let confirm = undefined;
                $(this).find("figcaption").hide();

                $(open).on('click', function (event) {
                    event.preventDefault();
                    $("#myModal").modal('show');
                    $("#myModal").on('shown.bs.modal', function () {
                        $("#myModal").find('.modal-header').html(`<h3>${strName}</h3>`);
                        $("#myModal").find('.modal-body').find('img').attr('src', src);

                        $("#myModal").find("#AddToDb").hide();
                        $("#myModal").find("#DelFromDb").hide();

                        if (CheckDb(strName) === false) {
                            $("#myModal").find("#AddToDb").show();
                        } else {
                            $("#myModal").find("#DelFromDb").show();
                        }

                        $("#myModal").find("#AddToDb").on('click', function (event) {
                            if (AddToDb(strName) === true) {
                                $("#AddToDb").hide();
                                $("#DelFromDb").show();
                            }
                        });
                        $("#myModal").find("#DelFromDb").on('click', function (event) {
                            if (DelFromDb(strName) === true) {
                                $("#DelFromDb").hide();
                                $("#AddToDb").show();
                            }

                        });
                    });
                });

                if (CheckDb(strName) === false) {

                    $(this).find("figcaption").find("p:first").text("Not in database");
                    confirm = $(this).find("figcaption").find("p:first").text();
                } else {
                    $(this).find("figcaption").find("p:first").text("Is in database.");
                    confirm = $(this).find("figcaption").find("p:first").text();
                }

                $(this).on('mouseenter', function (e) {
                    e.preventDefault();
                    $(this).find("figcaption").addClass('.overlay');
                    $(this).find("figcaption").show();


                });

                $(this).on('mouseleave', function (e) {
                    e.preventDefault();
                    $(this).find("figcaption").removeClass('.overlay');
                    $(this).find("figcaption").hide();

                });


            });

            var add = [];
            var del = [];

            // After spending a whole night on this, the conclusion is that it needs to be done in plain old JavaScript insted of jQuery.  With jQuery I am limited to variables inside event handlers where is JS lets me do exactly what I want.  This should be very easy so I'm surprised its so difficult in jQuery.
            let cb = document.querySelectorAll("input[name='image']");
            cb.forEach(function (item, index) {



                let confirm = item.closest("figcaption").querySelector("p").innerText;
                item.addEventListener('click', function () {
                    console.log(PicId(item.getAttribute("value")));
                    var id = PicId(item.getAttribute("value"));

                    if (confirm === "Is in database.") { // Wasn't working because a really simple string character was missing.
                        del.push({ 'Id': id, 'Name': item.getAttribute("value") });
                    } else {
                        add.push({ 'Name': item.getAttribute("value") });
                    }
                });
            });
            console.log(del);



            function PicId(name) {
                var id = 0;
                $.ajax({
                    method: "POST",
                    url: "@Url.Action("GetPicId", "Photos", new { album = ViewBag.AlbumName })",
                    data: { 'name': name },
                    cache: false,
                    async: false,
                    success: function (message) {
                        id = message;
                    },
                    error: function (err) {
                        console.log(err);
                    }
                });
                return id;
            }

            function AddToDb(name) {
                let result = undefined;
                $.ajax({
                    method: "POST",
                    url: "@Url.Action("AddToDb", "Photos", new { album = ViewBag.AlbumName })",
                    data: { name: name },
                    async: false,
                    cache: false,
                    success: function (message) {
                        //console.log(message);
                        result = true;
                        $("#myModal").find("#AddToDb").hide();
                        $("#myModal").find("#DelFromDb").show();
                    },
                    error: function (err) {
                        //console.log(err);
                        result = false;
                    }
                });
                return result;
            }

            function DelFromDb(name) {
                let result = undefined;
                $.ajax({
                    method: "POST",
                    url: "@Url.Action("DelFromDb", "Photos", new { album = ViewBag.Album })",
                    data: { name: name },
                    async: false,
                    cache: false,
                    success: function (message) {
                        //console.log(message);
                        result = true;
                        /*
                            For future reference, the code below is key to what I want to achieve.  Having it in the success function of ajax makes perfect sense!!
                        */
                        $("#myModal").find("#DelFromDb").hide();
                        $("#myModal").find("#AddToDb").show();
                    },
                    error: function (err) {
                        //console.log(err);
                        result = false;
                    }
                });
                return result;
            }
        });



    </script>
}

