@*
	For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Areas/Admin/Shared/_Layout.cshtml";
}

@using Microsoft.AspNetCore.Hosting
@inject IWebHostEnvironment _env
@inject ApplicationDbContext _db
@using X.PagedList.Extensions
@using X.PagedList
@using X.Web.PagedList
@using Microsoft.AspNetCore.Routing
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor http
@model String


<h1 class="bg bg-info p-1 text-white">Photos for @ViewBag.AlbumName</h1>

@TempData["Message"]
@ViewBag.AlbumID



<div id="Photos">

    <section>
        <ul>
            <li><a href="#" id="toggleAll">Select All</a></li>
            <li><a href="#" id="addToDb">Add to Database</a></li>
            <li><a href="#" id="delFromDb">Delete from Database</a></li>
        </ul>
    </section>

    <section data-featherlight-gallery data-featherlight-filter="a">
        @foreach (FileInfo file in ViewBag.OnePageOfFiles)
        {
            <figure>
                <a class="gallery" href="/Gallery/@ViewBag.Album/@file.Name" data-name="@file.Name"><img
                        data-name="@file.Name" src="/Gallery/@ViewBag.AlbumName/@file.Name"></a>
                <figcaption>
                    @file.Name
                    <input type="checkbox" value="@file.Name">
                </figcaption>
            </figure>
        }

    </section>
    <section>
        @if (string.IsNullOrEmpty(Context.Request.Query["album"]))
        {
        @Html.PagedListPager((IPagedList)ViewBag.OnePageOfFiles, page => Url.Action("Index", "Photos", new { pageNumber
                = page, area = "Admin", name = Context.Request.Query["name"] }),
                new PagedListRenderOptions
                {
                    DisplayItemSliceAndTotal = true,
                    LiElementClasses = new string[] { "page-item" },
                    PageClasses = new String[] { "page-link" }
                })
                }
                else
        {
        @Html.PagedListPager((IPagedList)ViewBag.OnePageOfFiles, page => Url.Action("Index", "Photos", new { pageNumber
                = page, area = "Admin", name = Context.Request.Query["name"] }),
                new PagedListRenderOptions
                {
                    DisplayItemSliceAndTotal = true,
                    LiElementClasses = new string[] { "page-item" },
                    PageClasses = new String[] { "page-link" }
                })
                }
    </section>
</div>




@functions {
    int GetId()
    {
        var routeData = Context.GetRouteData();
        return Convert.ToInt32(routeData?.Values["id"]);
    }
}


@section Scripts {
    <script>

        $(function () {
            

            $("a.gallery").featherlightGallery({
                beforeOpen: function () {
                    return true;
                },
                afterContent: function () {
                    lastCurrent = this.$currentTarget[0];
                    let name = $(lastCurrent).data('name');
                    let src = $(lastCurrent).find('img').attr('src');
                    this.$instance.find('.featherlight-content').html(`
                            <header>
                                <h1>${name}</h1>
                                <a href="#">Edit</a>
                                <a href="#" id="coverPhoto" data-name="${name}">Make Cover Photo</a>
                                <a href="#" id="renamePhoto" data-name="${name}">Rename Photo</a>
                            </header>
                            <section>
                                <img src="${src}" alt="${name}">
                            </section>
                            <footer>
                            </footer>
                        `);

                    this.$instance.find('featherlight-content').find('#renamePhoto').on('click', function (e) {
                        e.preventDefault();
                        console.log("Link was clicked");
                    });

                    this.$instance.find('.featherlight-content').find('#coverPhoto').on('click', function (e) {
                        e.preventDefault();
                        let name = $(this).data('name');
                        let src = $(this).parent().parent().find('img').attr('src');
                        var arrData = JSON.stringify({ 'CoverPhoto': name, 'Album': '@ViewBag.AlbumName' });


                        $.ajax({
                            method: "POST",
                            url: "@Url.Action("SetCoverPic", "Photos", new { strAlbum = ViewBag.AlbumName })",
                            data: arrData,
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            async: false,
                            cache: false,
                            success: function (message) {
                                window.location.href = '/Admin/Gallery';

                            },
                            error: function (error) {
                                console.log(error);
                            }
                        });
                    });
                }
            });


            let add = [];
            let del = [];
            let tempArray = [];

            // Begin select individual checkboxes code
            let cb = document.querySelector("#Photos section:nth-of-type(2)").querySelectorAll('input[type="checkbox"]');
            for (var i = 0; i < cb.length; i++) {
                // Seems that you need to add an event listener to checkboxes to make them work in spite of what Google says.
                cb[i].addEventListener('click', function (e) {
                    //e.preventDefault();
                    e.checked = true;
                    tempArray.push(e);
                    // Here we just check all the checkboxes, no need to do anything complicated.
                });


            }

            // End select individual checkboxes code

            function GetId(name) 
            {
                $.ajax({ 
                    method: "POST", 
                    url: "@Url.Action("GetId", "Photos")",
                    data: { 'name': name },
                    async: false, 
                    cache: false,
                    success: function(message) {
                        console.log(message); 
                    },
                    error: function(error) { 
                        console.log(error);
                    }
                });
            }

            // Begin select all checkboxes code
            document.querySelector("#toggleAll").addEventListener('click', function (e) {
                e.preventDefault();

                cb = document.querySelector("#Photos section:nth-of-type(2)").querySelectorAll('input[type="checkbox"]');
                cb.forEach(function (e) {
                    e.checked = true;
                    let name = e.value;
                    let src = $(e).parent().parent().find('img').attr('src');
                    let myDate = moment(new Date()).format("YYYY-MM-DD HH:mm:ss");

                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("AjaxDbCheck", "Photos")",
                        data: { 'name': name },
                        dataType: 'text',
                        async: false,
                        cache: false,
                        success: function(message) { 
                            if (message) {
                                add.push({ 'AlbumID': '@ViewBag.AlbumID', 'Name': name, 'ImageUrl': src, 'DateCreated': myDate }); 
                            } 
                        },
                        error: function(error) { 
                            console.log(error);
                        }
                    });

                    
                    $.ajax({ 
                        type: 'POST', 
                        url: "@Url.Action("GetId", "Photos")",
                        data: { 'name': name },
                        dataType: 'text', // This worked for passing simple text values.
                        async: false,
                        cache: false,
                        success: function(message) {
                            if (message === 0) {
                                add.push({ 'AlbumID': '@ViewBag.AlbumID', 'Name': name, 'ImageUrl': src, 'DateCreated': myDate }); 
                            } else {
                                del.push({ 'PhotoID': message }); 
                            }
                        },
                        error: function(error) { 
                            console.log(error);
                        }
                    });
                });
            });



            // End select all checkboxes code

            $("#addToDb").on('click', function (e) {
                e.preventDefault();
                console.log(add);
                $.ajax({
                    method: "POST",
                    url: "@Url.Action("AddMultipleToDb", "Photos")",
                    headers: {
                        "Content-type": "application/json", 
                    },
                    data: JSON.stringify(add),
                    success: function (response) {
                        console.log(response);
                    },
                    error: function (err) {
                        console.log(err);
                    }
                });
            });

            $("#delFromDb").on('click', function (e) {
                e.preventDefault();
                //console.log(del);
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("RemoveMultipleFromDb", "Photos")",
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    data: JSON.stringify(del),
                    async: false,
                    cache: false,
                    success: function (message) {
                        window.location.reload();
                    },
                    error: function (err) {
                        console.log(err);
                    }
                });
            });
        });
    </script>

}
