@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Areas/Admin/Shared/_Layout.cshtml";
}

@using Microsoft.AspNetCore.Hosting
@inject IWebHostEnvironment _env
@inject ApplicationDbContext _db
@using X.PagedList.Extensions
@using X.PagedList
@using X.Web.PagedList
@model String

<h1 class="bg bg-info p-1 text-white">Photos for @ViewBag.AlbumName</h1>

@TempData["Message"]

<div id="Photos">

    <section>
        <ul>
        <li><a href="#" id="toggleAll">Select All</a></li>
        <li><a href="#" id="addToDb">Add to Database</a></li>
        <li><a href="#" id="delFromDb">Delete from Database</a></li>
        <li><a href="#" id="manageAlbum">Manage Album</a></li>
        </ul>
    </section>

    <section>
    
        @{
            foreach (FileInfo file in ViewBag.OnePageOfFiles)
            {


                <figure>
                            <div></div>
                    <a class="gallery" href="#" data-name="@file.Name" data-src="Gallery/@ViewBag.AlbumName/@file.Name"><img src="/Gallery/@ViewBag.AlbumName/@file.Name" alt="@file.Name" data-name="@file.Name"></a>
                    
                    <figcaption>@file.Name</figcaption>
                </figure>

            }
        }
    </section>


</div>

@if (string.IsNullOrEmpty(Context.Request.Query["album"]))
{
    @Html.PagedListPager((IPagedList)ViewBag.OnePageOfFiles, page => Url.Action("Index", "Photos", new { pageNumber = page, area = "Admin", id = Context.Request.Query["id"] }),
                new PagedListRenderOptions
                {
                    DisplayItemSliceAndTotal = true,
                    LiElementClasses = new string[] { "page-item" },
                    PageClasses = new String[] { "page-link" }
                })
}
else
{
    @Html.PagedListPager((IPagedList)ViewBag.OnePageOfFiles, page => Url.Action("Index", "Photos", new { pageNumber = page, area = "Admin", album = Context.Request.Query["album"] }),
        new PagedListRenderOptions
        {
            DisplayItemSliceAndTotal = true,
            LiElementClasses = new string[] { "page-item" },
            PageClasses = new String[] { "page-link" }
        })
}




@section Scripts {
    <script>

        $(function () {
            $("a.gallery").featherlightGallery({
                afterContent: function () {
                    lastCurrent = this.$currentTarget[0];
                    let name = $(lastCurrent).data('name');
                    let src = $(lastCurrent).find('img').attr('src');
                    this.$instance.find('.featherlight-content').html(`
                        <h1>${name}</h1> <span><a href="#">Edit</a></span>
                        <img src="${src}" alt="${name}">
                    `);


                }
            });

            

            document.querySelector("#Photos section:nth-of-type(2)").querySelectorAll("img").forEach((element) => { 
                    let name = $(element).find('a').data('name');
                    let src = $(element).find('a').data('src');
                    let div = $(element).parent().parent().find('div');
                
                    
                    let isInDb = $.ajax({
                        method: "POST", 
                        url: "@Url.Action("AjaxDbCheck", "Photos")",
                        data: { 'name': name },
                        async: false,
                        cache: false,
                        success: function(message) { 
                            return message;
                        }, 
                        error: function(err) { 
                            return err;
                        }
                    });

                 

                    $(element).on('mouseenter', function(e) { 
                        e.preventDefault();
                        $(div).addClass('overlay');
                        $(div).html('Hello World!');
                    });

                    $(element).on('mouseleave', function(e) { 
                        e.preventDefault();
                        $(div).removeClass('overlay');
                        $(div).html('');
                     });
            });

        });

    </script>

}
