
@{
    Layout = "~/Areas/Admin/Shared/_Layout.cshtml";
}

@using X.PagedList
@using X.PagedList.Extensions
@using X.Web.PagedList
@using HGO.ASPNetCore.FileManager.ViewComponentsModel
@using PersonalWebsiteMVC.Models
@inject IWebHostEnvironment _env
@inject ApplicationDbContext _db


<h1 class="bg bg-info p-1">Albums</h1>
<a asp-action="Create" asp-area="Admin" asp-controller="Gallery" class="btn btn-secondary">Create</a>

@TempData["Message"]

<div id="Gallery">

    <section>
        @foreach (DirectoryInfo di in ViewBag.OnePageOfFiles)
        {
            <figure>
                @if (IsInDb(di.Name))
                {
                    <img src="@GetImage(di.Name).CoverPhoto">
                }
                else
                {
                    <svg enable-background="new 4 8 40 32" xmlns="http://www.w3.org/2000/svg" viewBox="4 8 40 32"><path d="m40 12h-18l-4-4h-10c-2.2 0-4 1.8-4 4v8h40v-4c0-2.2-1.8-4-4-4z" fill="#ffa000"></path><path d="m40 12h-32c-2.2 0-4 1.8-4 4v20c0 2.2 1.8 4 4 4h32c2.2 0 4-1.8 4-4v-20c0-2.2-1.8-4-4-4z" fill="#ffca28"></path></svg>
                }

                <figcaption>
                    @di.Name
                    @if (IsInDb(di.Name))
                    {
                        <input type="checkbox" name="delAlbum" value="@di.Name">
                        <ul>
                            <li><a asp-action="Index" asp-controller="Photos" asp-area="Admin" asp-route-id="@GetId(di.Name)">View</a></li>
                            <li><a asp-action="Update" asp-controller="Gallery" asp-area="Admin" asp-route-id="@GetId(di.Name)">Update</a></li>
                            <li><a asp-action="Details" asp-controller="Gallery" asp-area="Admin" asp-route-id="@GetId(di.Name)">Details</a></li>
                            <li><a asp-action="Delete" asp-controller="Gallery" asp-area="Admin" asp-route-id="@GetId(di.Name)">Delete</a></li>
                        </ul>

                    }
                    else
                    {
                        <input type="checkbox" name="addAlbum" value="@di.Name">
                        <a asp-action="Index" asp-controller="Photos" asp-area="Admin" asp-route-album="@di.Name">View</a>
                    }


                </figcaption>
            </figure>

        }
    </section>
</div>

<a href="#" id="selectAll">Select All</a> |
<a href="#" id="AddToDb">Add to Database</a> |
<a href="#" id="DelFromDb">Delete from Database</a>

<!-- X.PagedList component for pagination -->
<!-- Wasn't working because Url.Action was pointing to the wrong controller.  Eejit. -->
@Html.PagedListPager((IPagedList)ViewBag.OnePageOfFiles, page => Url.Action("Index", "Gallery", new { pageNumber = page, area = "Admin" }),
        new PagedListRenderOptions
        {
            DisplayItemSliceAndTotal = true,
            LiElementClasses = new string[] { "page-item" },
            PageClasses = new String[] { "page-link" }
        })




@functions {
    bool IsInDb(string name)
    {
        var album = _db.Albums.Where(a => a.Name == name).Any();
        if (album)
            return true;
        else
            return false;
    }

    int GetId(string name)
    {
        try
        {
            var album = _db.Albums.Where(a => a.Name == name).FirstOrDefault();
            return album!.Id;
        }
        catch (NullReferenceException)
        {
            return 0;
        }
    }

    Album GetImage(string name)
    {
        var img = _db.Albums.Where(a => a.Name == name).FirstOrDefault();
        return img!;
    }
}


@section Scripts {

    <script>
        $(function () {
            let add = [];
            let del = [];

            // Begin select individual checkboxes code
            let cb = document.querySelector("#Gallery section").querySelectorAll('input[type="checkbox"]');
            for (var i = 0; i < cb.length; i++) {
                cb[i].addEventListener('click', function (e) {
                    e.checked = true;

                    var isInDb = $.ajax({
                        type: "POST",
                        url: "@Url.Action("AjaxDbCheck", "Gallery")",
                        data: { 'Name': e.target.value },
                        async: false
                    }).responseText;

                    // Object reference not set error was because of the way the boolean function was called.
                    if (!isInDb) {
                        var id = $.ajax({
                            type: "POST",
                            url: "@Url.Action("GetId", "Gallery")",
                            data: { 'name': e.target.value },
                            async: false
                        }).responseText;
                        del.push({ 'Id': id });
                    } else {
                        add.push({
                            'Name': e.target.value, 'Description': '', 'Location': '', 'CoverPhoto': '', 'DateCreated': @DateTime.Now
                        });
                    }
                });
            }

            // End select individual checkboxes code

            // Begin select all checkboxes code
            document.querySelector("#selectAll").addEventListener('click', function (e) {
                e.preventDefault();
                cb = document.querySelector("#Gallery section").querySelectorAll('input[type="checkbox"]');
                cb.forEach(function (e) {
                    e.checked = true;

                    var isInDb = $.ajax({
                        type: "POST", url: "@Url.Action("AjaxDbCheck", "Gallery")", data: { 'name': e.value }, async: false
                    }).responseText;

                    if (isInDb) {
                        var id = $.ajax({
                            type: "POST", url: "@Url.Action("GetId", "Gallery")", data: { 'name': e.value }, async: false
                        }).responseText;

                        del.push({ 'Id': id });
                    } else {
                        add.push({
                            'Name': e.value, 'Description': '', 'Location': '', 'CoverPhoto': '', 'DateCreated': '@DateTime.Now' 
                        });
                    }
                });
            });
            // End select all checkboxes code

            document.querySelector("#AddToDb").addEventListener('click', function (e) {
                e.preventDefault();
                console.log(add);
                

               @* $.ajax({
                    method: "POST",
                    url: "@Url.Action("AddMultipleToDb", "Gallery")",
                    data: JSON.stringify(add),
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    async: false,
                    cache: false,
                    success: function (message) {
                        //window.location.reload();
                        console.log(message);
                    },
                    error: function (err) {
                        console.log(err);
                    }
                });*@
            });

            document.querySelector("#DelFromDb").addEventListener('click', function (e) {
                e.preventDefault();
                //console.log(del);
                var arr = [];
                for (var i = 0; i < del.length; i++) {
                    //console.log(del[i].Id.responseText);
                    arr.push({ 'Id': del[i].Id.responseText });
                }

                $.ajax({
                    method: "POST",
                    url: "@Url.Action("RemoveMultipleFromDb", "Gallery")",
                    data: JSON.stringify(arr),
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    async: false,
                    cache: false,
                    success: function (message) {
                        window.location.reload();
                    },
                    error: function (err) {
                        console.log(err);
                    }
                });

            });
        });

    </script>
}
