
@{
    Layout = "~/Areas/Admin/Shared/_Layout.cshtml";
}

@using X.PagedList
@using X.PagedList.Extensions
@using X.Web.PagedList
@using HGO.ASPNetCore.FileManager.ViewComponentsModel
@using PersonalWebsiteMVC.Models 
@inject IWebHostEnvironment _env
@inject ApplicationDbContext _db


<h1 class="bg bg-info p-1">Albums</h1>
<a asp-action="Create" asp-area="Admin" asp-controller="Gallery" class="btn btn-secondary">Create</a>

@TempData["Message"]

<div id="Gallery">
    
    <section>
        @foreach (DirectoryInfo di in ViewBag.OnePageOfFiles)
        {
            <figure>
                @if (IsInDb(di.Name))
                {
                    <img src="@GetImage(di.Name).CoverPhoto">
                }
                else
                {
                    <svg width="30" height="30" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3 5H21" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M3 12H21" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M3 19H21" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                }

                    <figcaption>
                        @di.Name
                        @if (IsInDb(di.Name))
                        {
                            <input type="checkbox" name="delAlbum" value="@di.Name">
                            <ul>
                                <li><a asp-action="Index" asp-controller="Photos" asp-area="Admin" asp-route-id="@GetId(di.Name)">View</a></li>
                                <li><a asp-action="Update" asp-controller="Gallery" asp-area="Admin" asp-route-id="@GetId(di.Name)">Update</a></li>
                                <li><a asp-action="Details" asp-controller="Gallery" asp-area="Admin" asp-route-id="@GetId(di.Name)">Details</a></li>
                                <li><a asp-action="Delete" asp-controller="Gallery" asp-area="Admin" asp-route-id="@GetId(di.Name)">Delete</a></li>
                            </ul>

                        }
                        else
                        {
                            
                            <a asp-action="Index" asp-controller="Photos" asp-area="Admin" asp-route-album="@di.Name">View</a>
                        }
                       

                    </figcaption>
                </figure>

        }
    </section>
</div>

<a href="#" id="selectAll">Select All</a>
<a href="#" id="AddToDb">Add to Database</a> |
<a href="#" id="DelFromDb">Delete from Database</a>

<!-- X.PagedList component for pagination -->
<!-- Wasn't working because Url.Action was pointing to the wrong controller.  Eejit. -->
@Html.PagedListPager((IPagedList)ViewBag.OnePageOfFiles, page => Url.Action("Index", "Gallery", new { pageNumber = page, area = "Admin" }),
        new PagedListRenderOptions
        {
            DisplayItemSliceAndTotal = true,
            LiElementClasses = new string[] { "page-item" },
            PageClasses = new String[] { "page-link" }
        })




@functions {
    bool IsInDb(string name)
    {
        var album = _db.Albums.Where(a => a.Name == name).Any();
        if (album)
            return true;
        else
            return false;
    }

    int GetId(string name)
    {
        try
        {
            var album = _db.Albums.Where(a => a.Name == name).FirstOrDefault();
            return album!.Id;
        }
        catch (NullReferenceException)
        {
            return 0;
        }
    }

    Album GetImage(string name)
    {
        var img = _db.Albums.Where(a => a.Name == name).FirstOrDefault();
        return img!;
    }
}


@section Scripts {

    <script>
        $(function () {
            let add = [];
            let del = [];

            document.querySelector("#selectAll").addEventListener('click', function (e) {
                e.preventDefault();
                cb = document.querySelector("#Gallery section").querySelectorAll('input[type="checkbox"]');
                cb.forEach(function (e) {
                    e.checked = true;

                    var isInDb = $.ajax({
                        type: "POST", url: "@Url.Action("AjaxDbCheck", "Gallery")", data: { 'name': e.value }, async: false
                    }).responseText;

                    if (isInDb) {
                        var id = $.ajax({
                            type: "POST", url: "@Url.Action("GetId", "Gallery")", data: { 'name': e.value }, async: false
                        }).responseText;
                    } else {
                        add.push({ 'name': e.value })
                    }
                });
            });
            

            document.querySelector("#AddToDb").addEventListener('click', function (e) {
                e.preventDefault();
               
            });

            document.querySelector("#DelFromDb").addEventListener('click', function (e) {
                e.preventDefault();
                console.log(del.length);
                
            });
        });
        
    </script>
}
