@{
    Layout = "~/Areas/Admin/Shared/_Layout.cshtml";
}

@using X.PagedList
@using X.PagedList.Extensions
@using X.Web.PagedList
@using HGO.ASPNetCore.FileManager.ViewComponentsModel
@using PersonalWebsiteMVC.Models
@inject IWebHostEnvironment _env
@inject ApplicationDbContext _db


<h1 class="bg bg-info p-1">Albums</h1>
<a asp-action="Create" asp-area="Admin" asp-controller="Gallery" class="btn btn-secondary">Create</a>

@TempData["Message"]

<div id="Gallery">
    @ViewBag.AlbumName
    <section>
        @foreach (DirectoryInfo di in ViewBag.OnePageOfFiles)
        {
            <figure>
                @if (IsInDb(di.Name))
                {
                    <img src="/Gallery/@di.Name/@GetCoverPhoto(di.Name)">
                }
                else
                {
                    <svg enable-background="new 4 8 40 32" xmlns="http://www.w3.org/2000/svg" viewBox="4 8 40 32">
                        <path d="m40 12h-18l-4-4h-10c-2.2 0-4 1.8-4 4v8h40v-4c0-2.2-1.8-4-4-4z" fill="#ffa000"></path>
                        <path d="m40 12h-32c-2.2 0-4 1.8-4 4v20c0 2.2 1.8 4 4 4h32c2.2 0 4-1.8 4-4v-20c0-2.2-1.8-4-4-4z"
                            fill="#ffca28"></path>
                    </svg>
                }

                <figcaption>
                    @di.Name
                    @if (IsInDb(di.Name))
                    {
                        <input type="checkbox" name="delAlbum" value="@di.Name">
                        <ul>
                            <li><a asp-action="Index" asp-controller="Photos" asp-area="Admin"
                                    asp-route-name="@di.Name">View</a></li>
                            <li><a asp-action="Update" asp-controller="Gallery" asp-area="Admin"
                                    asp-route-id="@GetId(di.Name)">Update</a></li>
                            <li><a asp-action="Details" asp-controller="Gallery" asp-area="Admin"
                                    asp-route-name="@di.Name">Details</a></li>
                            <li><a asp-action="Delete" asp-controller="Gallery" asp-area="Admin"
                                    asp-route-name="@di.Name">Delete</a></li>
                        </ul>

                    }
                    else
                    {
                        <input type="checkbox" name="addAlbum" value="@di.Name">
                        <a asp-action="Index" asp-controller="Photos" asp-area="Admin" asp-route-album="@di.Name">View</a>
                    }


                </figcaption>
            </figure>

        }
    </section>
</div>

<a href="#" id="selectAll">Select All</a> |
<a href="#" id="AddToDb">Add to Database</a> |
<a href="#" id="DelFromDb">Delete from Database</a>


@Html.PagedListPager((IPagedList)ViewBag.OnePageOfFiles, page => Url.Action("Index", "Gallery", new { pageNumber = page,
area = "Admin" }),
new PagedListRenderOptions
{
    DisplayItemSliceAndTotal = true,
    LiElementClasses = new string[] { "page-item" },
    PageClasses = new String[] { "page-link" }
})




@functions {
    bool IsInDb(string name)
    {
        var album = _db.Albums.Where(a => a.Name == name).Any();
        if (album)
            return true;
        else
            return false;
    }

    int GetId(string name)
    {
        try
        {
            var album = _db.Albums.Where(a => a.Name == name).FirstOrDefault();
            return album!.AlbumID;
        }
        catch (NullReferenceException)
        {
            return 0;
        }
    }

    string GetCoverPhoto(string name)
    {
        var album = _db.Albums.Where(a => a.Name == name).FirstOrDefault();
        return album!.CoverPhoto!;
    }
}


@section Scripts {

    <script>
        let add = [];
        let del = [];

        $("#selectAll").on('click', function(e) { 
            e.preventDefault();
            $('input[type="checkbox"]').prop('checked', true);
        });    

        $("#AddToDb").on('click', function(e) {
            e.preventDefault();
            let name = undefined; 
            $('input[type="checkbox"]:checked').map(function() {
                name = $(this).val();
                $.ajax({ 
                    type: "POST", 
                    url: "/Gallery/CheckDb",
                    data: { name: name },
                    async: false, 
                    cache: false,
                    success: function(message) { 
                        if (message === true) { 
                            console.log('Album already exists in database.');
                        }
                    },
                    error: function(error) { 
                        console.log(error);
                    }
                });
            }).get();

            //console.log(checkedValues.join(", "));
        });

        $("#DelFromDb").on('click', function(e) { 
            e.preventDefault();
            let name = undefined;
            $("input[type='checkbox']:checked").each(function() {
                name = $(this).val();
                $.ajax({
                    method: "POST", 
                    url: "/Gallery/CheckDb", 
                    data: { name: name },
                    async: false,
                    cache: false,
                    success: function(message) { 
                        if (message === true) { 
                        } else { 
                            console.log('Albums do not exist in database.');
                        }
                    },
                    error: function(error) { 
                        console.log(error);
                    }
                });
            });
        });

        function DelMultipleFromDb(name) {
            $.ajax({ 
                method: "POST",
                url: "/Gallery/DelMultipleFromDb",
                data: { name: name },
                async: false,
                cache: false,
                success: function(message) { 
                    console.log(message);
                }, 
                error: function(error) { 
                    console.log(error);
                }
            }); 
        }

    </script>
}
