
@{
    Layout = "~/Areas/Admin/Shared/_Layout.cshtml";
}

@using X.PagedList
@using X.PagedList.Mvc.Core
@using HGO.ASPNetCore.FileManager.ViewComponentsModel
@inject IWebHostEnvironment _env
@inject ApplicationDbContext _db


<h1 class="bg bg-info p-1">Albums</h1>
<a asp-action="Create" asp-area="Admin" asp-controller="Gallery" class="btn btn-secondary">Create</a>

@TempData["Message"]

<div id="Albums">
    @foreach (DirectoryInfo di in ViewBag.OnePageOfFiles)
    {
        <figure>
            <div></div>

            @{
                var photo = _db.Albums.Where(a => a.Id == GetId(di.Name)).FirstOrDefault();
                if (photo!.CoverPhoto is not null)
                {
                    <img src="/Gallery/@di.Name/@photo!.CoverPhoto">
                }
                else
                {
                    <svg enable-background="new 4 8 40 32" viewBox="4 8 40 32" xmlns="http://www.w3.org/2000/svg"><path d="m40 12h-18l-4-4h-10c-2.2 0-4 1.8-4 4v8h40v-4c0-2.2-1.8-4-4-4z" fill="#ffa000" /><path d="m40 12h-32c-2.2 0-4 1.8-4 4v20c0 2.2 1.8 4 4 4h32c2.2 0 4-1.8 4-4v-20c0-2.2-1.8-4-4-4z" fill="#ffca28" /></svg>
                }
            }



            <figcaption>
                @if (IsInDb(di.Name))
                {
                    <ul>
                        <a asp-action="Index" asp-controller="Photos" asp-area="Admin" asp-route-id="@GetId(di.Name)">View</a>
                        <li><a asp-action="Update" asp-controller="Gallery" asp-area="Admin" asp-route-id="@GetId(di.Name)">Update</a></li>
                        <li><a asp-action="Details" asp-controller="Gallery" asp-area="Admin" asp-route-id="@GetId(di.Name)">Details</a></li>
                        <li><a asp-action="Delete" asp-controller="Gallery" asp-area="Admin" asp-route-id="@GetId(di.Name)">Delete</a></li>
                    </ul>

                }
                else
                {
                    <a asp-action="Index" asp-controller="Photos" asp-area="Admin" asp-route-album="@di.Name">View</a>
                }
                @di.Name
            </figcaption>
        </figure>

    }

</div>

<a href="#" id="AddToDb">Add to Database</a> |
<a href="#" id="DelFromDb">Delete from Database</a>

<!-- X.PagedList component for pagination -->
<!-- Wasn't working because Url.Action was pointing to the wrong controller.  Eejit. -->
@Html.PagedListPager((IPagedList)ViewBag.OnePageOfFiles, page => Url.Action("Index", "Gallery", new { pageNumber = page, area = "Admin" }),
        new PagedListRenderOptions
        {
            DisplayItemSliceAndTotal = true,
            LiElementClasses = new string[] { "page-item" },
            PageClasses = new String[] { "page-link" }
        })

<!-- Modal for file manager -->
<div class="modal border-0" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content border-0">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @await Component.InvokeAsync("FileManagerComponent", new FileManagerModel()
           {
               Id = "FM1",
               RootFolder = System.IO.Path.Combine(_env.ContentRootPath, "Gallery"),
               ApiEndPoint = Url.Action("HgoApi")!,
               Config = new FileManagerConfig(),
           })
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


@functions {
    bool IsInDb(string name)
    {
        var album = _db.Albums.Where(a => a.Name == name).Any();
        if (album)
            return true;
        else
            return false;
    }

    int GetId(string name)
    {
        try
        {
            var album = _db.Albums.Where(a => a.Name == name).FirstOrDefault();
            return album!.Id;
        }
        catch (NullReferenceException)
        {
            return 0;
        }
    }
}


@section Scripts {

    <script>
        $(function () {

            function CheckDb(name) {
                let result = undefined;
                $.ajax({
                    method: "POST",
                    url: "@Url.Action("CheckDb", "Gallery")",
                    data: { 'name': name },
                    async: false,
                    cache: false,
                    success: function (message) {
                        //console.log(message);
                        result = message;
                    },
                    error: function (err) {
                        console.log(err);
                    }
                });
                return result;
            }

            function GetId(name) {
                let result = 0;
                $.ajax({
                    method: "POST",
                    url: "@Url.Action("GetId", "Gallery")",
                    data: { 'name': name },
                    async: false,
                    cache: false,
                    success: function (message) {
                        result = message;
                    },
                    error: function (err) {
                        console.log(err);
                    }
                });
                return result;
            }

            $("#Albums figure").each(function (index, value) {
                let name = $(this).find("figcaption").data('name');
                $(this).find('div:nth-of-type(1)').hide();

                if (CheckDb(name) === false) {
                    $(this).find('div:nth-of-type(1)').html(`
				<p>Not in database</p>
				<input type="checkbox" value="${name}">
`);


                } else {
                    $(this).find('div:nth-of-type(1)').html(`
					<p>Is in database</p>
					<input type="checkbox" value="${name}">
				`);
                }


                $(this).on('mouseenter', function (event) {
                    $(this).find('svg').addClass('overlay');
                    $(this).find('div').addClass('overlay');
					$(this).find('div:nth-of-type(1)').show();
                });

                $(this).on('mouseleave', function (event) {
                    $(this).find('svg').removeClass('overlay');
                    $(this).find('div').removeClass('overlay');
					$(this).find('div:nth-of-type(1)').hide();
				});

				let checkbox = value.querySelector("input[type='checkbox']");
                let confirm = value.querySelector("p").innerHTML;
                let strName = value.querySelector("figcaption").innerText;

                let add = [];
                let del = [];


                checkbox.addEventListener('click', function (e) {


					if (confirm === "Not in database") {
                        add.push({ 'Name': strName });
					}
					if (confirm === "Is in database") {
                        del.push({ 'Id': GetId(e.target.value), 'Name': strName });
					}

                });

                $("#AddToDb").on('click', function (event) {
                    event.preventDefault();

                    $.ajax({
                        method: "POST",
                        url: "@Url.Action("AddMultipleToDb", "Gallery")",
                        data: JSON.stringify(add),
                        dataType: 'json',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        async: false,
                        cache: false,
                        success: function (message) {
                            //console.log(message);
                            window.location.reload();
                        },
                        error: function (err) {
                            console.log(err);
                        }
                    });
                });

                $("#DelFromDb").on('click', function (event) {
                    event.preventDefault();
                    $.ajax({
                        method: "POST",
                        url: "@Url.Action("RemoveMultipleFromDb", "Gallery")",
                        data: JSON.stringify(del),
                        dataType: 'json',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        async: false,
                        cache: false,
                        success: function (message) {
                            //console.log(message);
                            window.location.reload();
                        },
                        error: function (err) {
                            console.log(err);
                        }
                    });
                });

               
			});


		});

    </script>
}
