@model X.PagedList.IPagedList<ApplicationUser>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Shared/_Layout.cshtml";
}
@using X.PagedList
@using X.PagedList.Mvc.Core 

<h1 class="bg-info text-white">Users</h1>
<a asp-action="Create" asp-area="Admin" asp-controller="Users" class="btn btn-secondary">Create a User</a>

<table class="table table-sm table-bordered">
     <tr><th>ID</th><th>Name</th><th>Email</th></tr>
     @foreach (ApplicationUser user in Model)
     {
          <tr>
          <td>@user.Id</td>
          <td>@user.UserName</td>
          <td>@user.Email</td>
          <td><a class="btn btn-sm btn-primary" asp-action="Update" asp-route-id="@user.Id">Update</a></td>
          <td><a class="btn btn-sm btn-primary" asp-action="Details" asp-route-id="@user.Id">Details</a></td>
          <td><a class="btn btn-sm btn-primary" asp-action="Delete" asp-route-id="@user.Id">Delete</a></td>
          </tr>
     }
</table>

@Html.PagedListPager((X.PagedList.IPagedList)Model, page => Url.Action("Index", new { pageNumber = page, area = "Admin" }),
    new X.PagedList.Mvc.Core.PagedListRenderOptions
    {
        DisplayItemSliceAndTotal = true,
        LiElementClasses = new string[] { "page-item" },
        PageClasses = new string[] { "page-link" }
    })