@model IEnumerable<Guestbook>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Shared/_Layout.cshtml";
}

<h1 class="bg-info text-white">Guestbook</h1>
<a asp-action="Create" class="btn btn-secondary">Create</a>

<table class="table">
     <tr><th>ID</th><th>User</th><th>Email</th><th>Update</th><th>Details</th><th>Delete</th></tr>
     @foreach (var item in Model)
     {
          <tr>
          <td>@item.GuestbookID</td>
          <td>@item.GuestbookUser</td>
          <td>@item.GuestbookUserEmail</td>
          <td><a asp-action="Update" class="btn btn-primary" asp-route-id="@item.GuestbookID">Update</a></td>
          <td><a asp-action="Details" class="btn btn-primary" asp-route-id="@item.GuestbookID">Details</a></td>
          <td><a asp-action="Delete" class="btn btn-primary" asp-route-id="@item.GuestbookID">Delete</a></td>
          </tr>
     }
</table>

