@inject IDialogService DialogService
@inject IJSRuntime JS

<a href="#" @onclick="Open">
<svg preserveAspectRatio="none" class="menuIcon" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M3 5H21" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M3 12H21" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M3 19H21" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
</a>

<MudDialog @bind-visible="_visible" Class="navModal">
    <DialogContent>
        <MudIcon Icon="@Icons.Material.Filled.Close" Class="closeIcon" @onclick="Close" />
        <ul>
            
            <li><NavLink href="#Home" id="home" @onclick="@(async () => await ScrollToView("Home"))">Home</NavLink></li>
            <li><NavLink href="#About" id="about" @onclick="@(async() => await ScrollToView("About"))">About Me</NavLink></li>
            <li><NavLink href="#Blog" id="blog" @onclick="@(async () => await ScrollToView("Blog"))">Blog</NavLink></li>
            <li><NavLink href="#Contact" id="contact" @onclick="@(async () => await ScrollToView("Contact"))">Contact</NavLink></li>
        </ul>
    </DialogContent>

</MudDialog>

@code {
    private bool _visible;
    private void Open() => _visible = true;
    private void Close() => _visible = false;

    public async Task ScrollToView(string name)
    {
        Close();
        await JS.InvokeVoidAsync("ScrollToView", name);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender) 
    {
        if (firstRender) 
        {
            await JS.InvokeVoidAsync("scrollToHash");
        }
    }

}


