@page "/Blog"
@inject ApplicationDbContext _db
@inject NavigationManager _nav
@using System.Text.RegularExpressions
@using BlazorPagination

@if (GetQueryString() > 0)
{
    
}
else
{

    @if (_db.Posts.Count() == 0)
    {
        <h1>Blog</h1>
        <p>No posts have been found just now.  Please check back later.</p>
    }
    else
    {
        <div id="Blog">
            <h1>Blog</h1>
            @foreach (var item in _data!.Results)
            {
                try
                {
                    var result = Truncate(item.PostContent!, 200);

                    <MudCard Class="MudCard">
                        <MudCardMedia Image=@($"/Uploads/{item.FeaturedImage}") Height="200" />
                        <MudCardContent>
                            <h2>@item.PostTitle</h2>
                            <p>@RemoveHTMLTags(result)</p>
                        </MudCardContent>
                        <MudCardActions>
                            <MudButton Variant="Variant.Filled" Color="Color.Primary">Read More</MudButton>
                        </MudCardActions>
                    </MudCard>
                }
                catch (NullReferenceException ex)
                {
                    Console.WriteLine(ex.Message);
                }
            }
            <hr>
            <p>You are on page @_page of @_data.PageCount</p>
            <BlazorPager CurrentPage="@_data.CurrentPage"
                         PageCount="@_data.PageCount"
                         VisiblePages="1"
                         ShowFirstLast="false"
                         ShowPageNumbers="true"
                         OnPageChanged="(async e => { _page = e; await GetData(); })">
            </BlazorPager>
        </div>
    }
}

@functions {
    public int GetQueryString()
    {
        var uri = _nav.ToAbsoluteUri(_nav.Uri);
        if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("id", out var id))
        {
            return Convert.ToInt32(id);
        }
        else
        {
            return 0;
        }
    }

    public static string Truncate(string value, int maxChars)
    {
        return value.Length <= maxChars ? value : value.Substring(0, maxChars) + "....";
    }

    public static string RemoveHTMLTags(string html)
    {
        return Regex.Replace(html, "<.*?>", string.Empty);
    }
}


@code {
    // https://github.com/villainoustourist/Blazor.Pagination/
    private PagedResult<Posts>? _data;
    private int _page = 1;
    private string _sort = "Date";
    private string _direction = "desc";

    [Inject]
    public ApplicationDbContext _db { get; set; } 

    protected override async Task OnInitializedAsync()
    {
        await GetData();
    }

    private async Task GetData()
    {
        _data = _db.Posts.ToPagedResult<Posts>(_page, 1);
        StateHasChanged();
        await Task.CompletedTask;

    }

    private void GetPost(int id)
    {
      
    }
}