@using X.PagedList
@using X.PagedList.Extensions
@using X.Web.PagedList
@using PersonalWebsiteMVC.Models
@model IPagedList<Guestbook>

<div id="Guestbook">
<h1>Guestbook</h1>

@if (Model.Count() == 0)
{
    <p>No comments have been found at this time. Be the first to sign the guestbook using the form below.</p>
} else {
    foreach (Guestbook comment in Model)
    {
        <div class="flex flex-row flex-1 pb-2">
            <img src="https://gravatar.com/avatar/27205e5c51cb03f862138b22bcb5dc20f94a342e744ff6df1b8dc8af3c865109&d=mp" style="width: 100px; margin-right: 1em;">
            <p>Posted by @comment.GuestbookAuthor on @comment.GuestbookDate.ToString("dddd dd MMMM yyyy") at @comment.GuestbookDate.ToString("HH:mm")
            </p>
        </div>
        <div class="mb-5">
        @Html.Raw(comment.GuestbookContent)
        </div>
    } 
    <p>Currently showing page @Model.PageNumber of @Model.PageCount guestbook entries.</p>

    @Html.PagedListPager((IPagedList)Model, page => Url.Action("Guestbook", "Guestbook", new { pageNumber = page, area = "" }),
            new PagedListRenderOptions
            {
                DisplayItemSliceAndTotal = false,
                LiElementClasses = new string[] { "page-item "},
                PageClasses = new String[] { "page-link" },
            })
}    


<form method="post" novalidate>
    <div>
        <label>Name:</label>
        <input id="name" name="txtName" placeholder="John Smith" required>
        <span class="error"></span>
    </div>
    <div>
        <label>Email:</label>
        <input id="email" name="txtEmail" placeholder="john@johnsmith.com" required>
        <span class="error"></span>

    </div>
    <div>
        <label>Website:</label>
        <input id="website" name="txtWebsite" placeholder="https://www.johnsmith.com">
        <span class="error"></span>
    </div>
    <div>
        <label>Message:</label>
        <textarea id="ckeditor1" name="txtMessage" placeholder="What a great website...." required></textarea>
        <span class="error"></span>
    </div>
    <div>
        <p>Please take a second to do the captcha and prove that you are human.  This helps me fight spam.  Thank you.</p>
        <div id="g-recaptcha" data-sitekey="6LeCBlUrAAAAAGJFT1Rt-4hojR6NfEvqzsvZwnOz" class="recaptcha">
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Sign</button>
</form>
</div>


@section Scripts {
    <script>
        $("form").on('submit', function (e) {
            e.preventDefault();
            let name = document.querySelector("#name");
            let email = document.querySelector("#email");
            let website = document.querySelector("#website");
            let captcha = document.querySelector(".g-recaptcha-response");


            let oldSummary = document.getElementById("errorsSummary");
            if (oldSummary) {
                oldSummary.remove();
            }

            let errors = [];

            if (!name.validity.valid) {
                $("#name").parent().find('.error').text('Please enter your name.');
                $("#name").addClass('inputError');
                errors.push("Please enter your name.");
            } else {
                $("#name").parent().find('.error').text('');
                $("#name").removeClass('inputError');
            }

            if (!email.validity.valid) {
                $("#email").parent().find('.error').text('Please enter your email address.');
                $("#email").addClass('inputError');
                errors.push("Please enter your email address.");
            } else {
                $("#email").parent().find('.error').text('');
                $("#email").removeClass('inputError');
            }

            if (editor.getData() === '') {
                $(".ck").parent().find('.error').text('Please enter a message.');
                $(".ck").addClass('inputError');
                errors.push("Please enter a message.");
            } else {
                $(".ck").parent().find('.error').text('');
                $(".ck").removeClass('inputError');
            }

            if (errors.length === 0) {
                $.ajax({
                    method: "POST",
                    url: "/Guestbook/AddComment",
                    data: { name: name.value, email: email.value, website: website.value, message: window.editor.getData(), captchaResponse: captcha.value },
                    async: false,
                    cache: false,
                    success: function (message) {
                        console.log(message);
                        if (message.error) {
                            $("form").before(`<hr><p>${message.error}</p>`);
                        } else {
                            $("#Guestbook").append(`
                                
                                    <div class="flex flex-row flex-1 pb-2 mb-2">
                                        <img src="https://gravatar.com/avatar/27205e5c51cb03f862138b22bcb5dc20f94a342e744ff6df1b8dc8af3c865109&d=mp" style="width: 100px">
                                        <p>Posted by ${message.GuestbookAuthor} on ${dayjs(message.DatePosted).format('dddd MMMM D')} at ${dayjs(message.CommentDate).format('hh:ss A')}.</p>
                                    </div>
                                    ${message.GuestbookContent}
                                `);
                        }
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            }
        });
    </script>
}