@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<SearchModel>

<h1>Search Results</h1>

@TempData["Message"]

<div class="searchResults">
    <p>You searched for @ViewBag.Term and we found @Model.Count() results.</p>
    <ul>
        @foreach (SearchModel item in Model)
        {
            <li>
                <b>@item.Title</b>
                <p>@Html.Raw(item.Body)</p>
                <a href="@item.Link">@item.Link</a>
            </li>
        }
    </ul>
</div>
