@using System.Text.RegularExpressions
@using Microsoft.AspNetCore.Mvc.Routing
@using Microsoft.AspNetCore.Routing
@inject ApplicationDbContext _db
@inject LinkGenerator linkGenerator

@TempData["Message"]

@if (_db.Posts.Count() == 0)
{
} 
else
{
    var id = Convert.ToInt32(Context.Request.Query["id"]);
    if (id > 0)
    {
        var post = _db.Posts.Where(p => p.PostID == id).FirstOrDefault();
        <div id="SinglePost">
            <button onclick="history.back()">Go back</button>
            <h1>@post!.PostTitle</h1>
            @post.PostContent
        </div>
    }
    else
    {
        <h1>Blog</h1>

        <section>
            @foreach (var item in _db.Posts)
            {
                var result = Truncate(item.PostContent!, 150);
                <section>
                    @if (item.FeaturedImage != null)
                    {
                    }

                    <div id="PostContent">
                        <h2>@item.PostTitle</h2>
                        @RemoveHTMLTags(result)
                        @{
                            var link = linkGenerator.GetPathByAction("ReadMore", "Mobile", new { id = item.PostID });
                        }
                        <a href="@link">Read</a>
                    </div>
                </section>
            }
        </section> 
    }
}

@functions { 
    public static string Truncate(string value, int maxChars)
    {
        return value.Length <= maxChars ? value : value.Substring(0, maxChars) + ".....";
    }

    public static string RemoveHTMLTags(string html)
    {
        return Regex.Replace(html, "<.*?>", string.Empty);
    }
}