@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model PersonalWebsiteMVC.Areas.Photos.Models.PhotosViewModel
@using X.PagedList
@using X.PagedList.Extensions
@using X.Web.PagedList

<div id="Photos">
    <h1>@ViewBag.AlbumName</h1>

    <section>
        @if (Model.PagedPhotos is not null)
        {
            foreach (var item in Model.PagedPhotos)
            {
                <figure>
                    <a class="gallery" href="@item.ImageUrl"><img src="@item.ImageUrl" alt="@item.Name"></a>
                    <figcaption>@item.Name</figcaption>
                </figure>
            }
        }
    </section>
    <section>
        @Html.PagedListPager((IPagedList)Model.PagedPhotos!, page => Url.Action("Index", "Photos", new { pageNumber = page, area = "Photos", name = Context.Request.Query["name"], id = Context.Request.Query["id"] }),
            new PagedListRenderOptions
            {
                DisplayItemSliceAndTotal = true,
                LiElementClasses = new string[] { "page-item" },
                PageClasses = new String[] { "page-link" }
            })
    </section>
</div>

@section scripts {
    <script>
        $("#Photos section").find("figure").each(function (index, element) {
            console.log($(element).find('img').attr('src'));
            
        });
    </script>

}