@*
	For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using System.Net.Http
@using System.Text.Json
@using System.Text.Json.Serialization
@using PersonalWebsiteMVC.Areas.pCloud.Models
@using Microsoft.AspNetCore.Http
@using RestSharp
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@using System.Text
@using X.PagedList
@inject IHttpClientFactory _httpClientFactory
@inject IHttpContextAccessor _http
@model PagedList<ContentItem>

<h1 class="bg bg-info p-1">Photos for @Context.Request.Query["name"]</h1>

@TempData["Message"]



<a class="btn btn-secondary" asp-action="Index" asp-controller="Albums" asp-area="pCloud">Back</a>


<div id="PhotosNav">

	<ul>
		<li><a href="#" id="selectAll">Select All</a></li>
		<li><a href="#" id="addToDb">Add to Database</a></li>
		<li><a href="#" id="delFromDb">Delete from Database</a></li>
		<li><a href="#" id="delFromPCloud">Delete from PCloud</a></li>
	</ul>
</div>



<div id="Photos">
	<section>

		@if (Model is not null)
		{
			foreach (ContentItem item in Model)
			{
				if (item.name.Contains(".JPEG"))
				{
                    var thumb = GetThumbs(item.fileid.ToString()!, item.path, "120x120");
					<figure>
                        <img src="@thumb">
                        <figcaption>
                            <a class="fl" href="#Popup" data-image="@thumb" data-id="@item.id" data-fileid="@item.fileid" data-created="@item.created">@item.name</a>
                            <input type="checkbox" name="delete" value="@item.name">
                        </figcaption>
                    </figure>
				}
			}
		}
	</section>
</div>

<div id="Popup">
</div>



@functions {


    string GetThumbs(string fileid, string path, string size)
    {
        var client = new RestClient("https://eapi.pcloud.com/getthumblink");
        var request = new RestRequest();
        request.AddParameter("getauth", "1");
        request.AddParameter("username", "douglas@douglasmcgregor.co.uk");
        request.AddParameter("password", "Inkyfrog1");
        request.AddParameter("path", path);
        request.AddParameter("size", size);
        var response = client.Execute(request);
        var result = JsonConvert.DeserializeObject(response.Content!);
        StringBuilder sb = new StringBuilder();
        JToken json = JToken.Parse(result!.ToString()!);
        var url = "https://" + json["hosts"]![0] + json["path"];
        return url;
    }
}



@section Scripts {

	<script src="//cdn.jsdelivr.net/npm/featherlight@1.7.14/release/featherlight.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="//cdn.jsdelivr.net/npm/featherlight@1.7.14/release/featherlight.gallery.min.js" type="text/javascript" charset="utf-8"></script>
    
    <script>
        let selected = [];
        // The issue I was having is that checkboxes won't work without adding an event listener. 
        let cb = $('input[type="checkbox"]');
        $(cb).on('click', function (e) {
            selected.push(e.target.value);
        });
        $("#delFromPCloud").on('click', function (e) {
            e.preventDefault();
            console.log(selected);
        });
        
    </script>


    <script>
        // Script to load featherlight JS popup
        $("a.fl").featherlight({
            targetAttr: 'href',
            afterContent: function () {
                
                let content = this.$content;
                let target = this.$currentTarget[0];
                let instance = this.$instance;
                let data = $(target).data('content');
                
                
                
            }
            
        });
    </script>





	

}