@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model BlogCommentViewModel
@using Microsoft.Extensions.Options
@using X.PagedList
@using X.PagedList.Extensions
@using X.Web.PagedList
@using reCAPTCHA.AspNetCore
@using reCAPTCHA.AspNetCore.Templates
@inject IOptions<RecaptchaSettings> RecaptchaSettings

<div id="Comments">
     <h2>Comments</h2>




     @if (Model.Comments.Count() == 0)
     {
          <p>No comments have been found for this post. Be the first to add a comment using the form below.</p>
     }
     else
     {

          <div class="comment">
               @foreach (Comments comment in Model.PagedComments!)
               {
                    <div class="flex flex-row flex-1 align-top justify-start">
                         <img src="https://www.gravatar.com/avatar/?d=mp">
                         <p>Posted by @comment.CommentAuthor on @comment.CommentDate</p>
                    </div>
                    @Html.Raw(comment.CommentContent)
               }
     </div>


          <p>Currently showing page @Model.PagedComments.PageNumber of @Model.PagedComments.PageCount comments.</p>

          @Html.PagedListPager((IPagedList)Model.PagedComments!, page => Url.Action("Index", "Comments", new { pageNumber
          =
          page, area = "Blog" }),
          new PagedListRenderOptions
          {
               DisplayItemSliceAndTotal = false,
               LiElementClasses = new string[] { "page-item" },
               PageClasses = new String[] { "page-link" }
          })

          }

</div>

<p>Share your thoughts on this post using the form below.</p>


<form method="post" id="blogCommentForm">

     <div>
          <label>Name:</label>
          <div class="flex flex-col flex-1">
               <input id="name" name="name" placeholder="John Smith" data-val-required="The name field is required." data-val="true">
               <span class="error" data-valmsg-for="name" data-valmsg-replace="true"></span>
          </div>
     </div>
     <div>
          <label>Email:</label>
          <div class="flex flex-col flex-1">
               <input id="email" name="email" placeholder="john@johnsmith.com" data-val-email="The email field is not a valid email address" data-val-required="The email field is required" data-val="true">
               <span class="error" data-valmsg-for="email" data-valmsg-replace="true"></span>
          </div>
     </div>
     <div>
          <label>Website:</label>
          <input id="website" name="txtWebsite" placeholder="https://www.johnsmith.com">
          <span class="error"></span>
     </div>
     <div>
          <label>Comment:</label>
          <div class="flex flex-col flex-1">
               <textarea id="ckeditor1" name="comment" placeholder="What a great post..." data-val-required="The comment field is required" data-val="true"></textarea>
               <span class="error" data-valmsg-for="comment" data-valmsg-replace="true"></span>
          </div>
     </div>
     <input type="hidden" id="postId" value="@ViewData["id"]">
     @(Html.Recaptcha<RecaptchaV3HiddenInput>(RecaptchaSettings.Value))

     <button type="submit" class="btn btn-primary">Submit</button>
</form>

