@page "/album"
@using BlazorPagination
@using Microsoft.EntityFrameworkCore
@inject ApplicationDbContext _db
@inject IJSRuntime JS


<div id="Photos">

    @if (_data is not null)
    {
        <h1>@AlbumName</h1>
        <section>

            @foreach (Models.Photos photo in _data.Results)
            {
                <a href="@photo.ImageUrl" class="gallery" data-caption="@photo.Name"><img src="@photo.ImageUrl"></a>
            }
           
        </section>
         <BlazorPager CurrentPage="@_data.CurrentPage" PageCount="@_data.PageCount" VisiblePages="10" ShowFirstLast="true" ShowPageNumbers="true" FirstText="&laquo;" LastText="&raquo;" NextText="&rsaquo;" PreviousText="&lsaquo;" OnPageChanged="(async e => { _page = e; await GetData(); })" />
    }
</div>

<div id="lightbox-content">Hello!</div>


@code {
    public string Message { get; set; } = string.Empty;
    [SupplyParameterFromQuery(Name = "name")]
    public string AlbumName { get; set; } = string.Empty;
    [SupplyParameterFromQuery(Name = "id")]
    public int AlbumID { get; set; } = 0;
    private PagedResult<Models.Photos>? _data;
    private int _page = 1;

    private async Task GetData()
    {
        _data = await _db.Photos.Where(p => p.AlbumID == AlbumID).ToPagedResultAsync(_page, 10);
        StateHasChanged();
    }

    protected override async Task OnInitializedAsync()
    {
        await GetData();
        StateHasChanged();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("initializeJQuery");
        }
    }

    public async Task Open()
    {
        await JS.InvokeVoidAsync("openFeatherlight");
    }
}