@page "/blog"
@using BlazorPagination
@using Microsoft.AspNetCore.WebUtilities
@using System.Text.RegularExpressions
@using PersonalWebsiteMVC.Models
@inject ApplicationDbContext _db
@inject NavigationManager nav

@if (_data!.Results.Count() == 0)
{
}
else 
{
    if (Id > 0)
    {
        var uri = nav.ToAbsoluteUri(nav.Uri);
        if (uri.Fragment.Contains("Comments")){
        }
        else
        {
            var post = _db.Posts.Where(p => p.PostID == Id).FirstOrDefault();
            <div id="SinglePost">
                <button onclick="history.back()">Go Back</button>
                <h1>@post!.PostTitle</h1>
                @((MarkupString)post.PostContent!)

                <BlogComments PostID="@post.PostID" />
           
            </div>
        }
    }
    else 
    {
        <h1>Blog</h1>

        <section>
            @foreach (var item in _data!.Results)
            {
                var result = Truncate(item.PostContent!, 150);

                <section>
                    @if (item.FeaturedImage != null)
                    {
                    }

                    <div id="PostContent">
                        <h2>@item.PostTitle</h2>
                        @RemoveHTMLTags(result)
                        <button type="button" class="text-white bg-gradient-to-r from-purple-500 via-purple-600 to-purple-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-purple-300 dark:focus:ring-purple-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2" @onclick="(() => ViewPost(item.PostID))">Read</button>
                    </div>
                </section>
            }
            <p>You are currently on page @_data.CurrentPage of @_data.PageCount.</p>
            <BlazorPager CurrentPage="@_data.CurrentPage" PageCount="@_data.PageCount" VisiblePages="3" ShowFirstLast="true" ShowPageNumbers="true" FirstText="&laquo;" LastText="&raquo;" NextText="&rsaquo;" PreviousText="&lsaquo;" OnPageChanged="(async e => { _page = e; GetData();})" />
        </section>
    }
}

@functions {
    public static string Truncate(string value, int maxChars)
    {
        return value.Length <= maxChars ? value : value.Substring(0, maxChars) + "....";
    }

    public static string RemoveHTMLTags(string html)
    {
        return Regex.Replace(html, "<.*?>", string.Empty);
    }


}


@code {
    [SupplyParameterFromQuery(Name = "id")]
    public int Id { get; set; } = 0;
  
    private PagedResult<Models.Posts>? _data;
    private int _page = 1; 

    private void GetData() 
    {
        _data = _db.Posts.ToPagedResult(_page, 1);
        StateHasChanged();
    }
    
    protected override void OnInitialized()
    {
        GetData();
    }


    public async Task ViewPost(int id)
    {
        var query = new Dictionary<string, string>
            {
                {"id", id.ToString() },
            };
        nav.NavigateTo(QueryHelpers.AddQueryString("Blog", query!));
        await Task.CompletedTask;
    }
}