@page "/photos"
@using BlazorPagination
@inject ApplicationDbContext _db
@inject NavigationManager _nav
@layout BlogLayout

@if (_data != null)
{
    <div id="Albums">
        <h1>Photo Gallery</h1>
        <section>
            @foreach (var item in _data.Results)
            {
                if (item.CoverPhoto != null)
                {
                    <figure>
                        <img src="/Gallery/@item.Name/@item.CoverPhoto">
                        <figcaption>
                            <a href="/album?name=@item.Name&id=@item.AlbumID">@item.Name</a>
                        </figcaption>
                    </figure>
                }
            }
        </section>
        
            <p>You are on page @_data.CurrentPage of @_data.PageCount.</p>
            <BlazorPager CurrentPage="@_data.CurrentPage" PageCount="@_data.PageCount" VisiblePages="3" ShowFirstLast="true"
                ShowPageNumbers="true" FirstText="&laquo;" LastText="&raquo;" NextText="&rsaquo;" PreviousText="&lsaquo;"
                OnPageChanged="(async e => { _page = e; await GetData();})" />

        
    </div>
}

@code {

    private PagedResult<Models.Album>? _data;
    private int _page = 1;

    private async Task GetData()
    {
        _data = await _db.Albums.ToPagedResultAsync(_page, 1);
        StateHasChanged();
    }

    protected override async Task OnInitializedAsync()
    {
        await GetData();
    }

    public void GoToAlbum(string name, int id)
    {
        
    }


}