@*
	For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	Layout = "~/Views/Shared/_BlogDesktop.cshtml";
}

@model BlogCommentViewModel

@inject ApplicationDbContext _db
@inject IHttpContextAccessor _http
@using Microsoft.Extensions.Hosting
@using X.PagedList
@using X.PagedList.Extensions
@using X.Web.PagedList
<!-- IWebHostEnvironment has been replaced with IHostEnvironment in .NET 5.0 and later. -->
@inject IHostEnvironment _env


<div id="Blog">


	@if (_db.Posts.Count() == 0)
	{
		<h1>Blog</h1>
		<p>No posts have been found just now. Please check back later.</p>
	}
	else
	{

		<h1>Blog</h1>


		@try
		{
			<div class="Posts">
				@foreach (Posts post in Model.PagedPosts!)
				{
					var result = Truncate(post.PostContent!, 200);

					if (post.PostPublished == true)
					{

						if (post.FeaturedImage is not null)
						{
							<img src="/Uploads/@post.FeaturedImage">
						}

						<h2>@post.PostTitle</h2>
						@RemoveHTMLTags(result)


						<a asp-area="Blog" asp-action="Post" asp-route-title="@post.PostTitle" class="btn btn-primary">Read More</a>
					}
				}
			</div>
		}
		catch (NullReferenceException ex)
		{
			@ex.Message
		}



		<p>You are currently on page @Model.PagedPosts!.PageNumber of @Model.PagedPosts.PageSize.</p>

		@Html.PagedListPager((IPagedList)Model.PagedPosts!, page => Url.Action("Index", "Home", new
{
	pageNumber = page,
	area = "Blog"
}),
						new PagedListRenderOptions
						{
							DisplayItemSliceAndTotal = false,
							LiElementClasses = new string[] { "page-item" },
							PageClasses = new String[] { "page-link" },

						})


	}

</div>


@functions {


	public static string Truncate(string value, int maxChars)
	{
		return value.Length <= maxChars ? value : value.Substring(0, maxChars) + ".....";
	}

	public static string RemoveHTMLTags(string html)
	{
		return System.Text.RegularExpressions.Regex.Replace(html, "<.*?>", string.Empty);
	}
}
