@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    // Need to think of the best way to handle multiple models for different devices.
}

@model BlogCommentViewModel

@inject ApplicationDbContext _db
@inject IHttpContextAccessor _http
@using Microsoft.Extensions.Hosting
@using X.PagedList
@using X.PagedList.Extensions
@using X.Web.PagedList
<!-- IWebHostEnvironment has been replaced with IHostEnvironment in .NET 5.0 and later. -->
@inject IHostEnvironment _env


<div id="Blog">


    @if (_db.Posts.Count() == 0)
    {
        <p>No posts have been found just now. Please check back later.</p>
    }
    else
    {

        <section>
            <h1>Blog</h1>
        </section>
        <section>

            @try
            {
                @foreach (Posts post in Model.PagedPosts!)
                {
                    var result = Truncate(post.PostContent!, 200);


                    @if (post.FeaturedImage is not null)
                    {
                        <img src="/Uploads/@post.FeaturedImage">
                    }

                    <h2>@post.PostTitle</h2>
                    @RemoveHTMLTags(result)


                    <a asp-action="SinglePost" asp-area="Blog" asp-route-id="@post.PostID" class="btn btn-primary">Read More</a>

                }
            }
            catch (NullReferenceException ex)
            {
                @ex.Message
            }

        </section>

        <section>
            <p>You are currently on page @Model.PagedPosts!.PageNumber of @Model.PagedPosts.PageSize.</p>

            @Html.PagedListPager((IPagedList)Model.PagedPosts!, page => Url.Action("Index", "Home", new { pageNumber = page,
            area = "Blog" }),
                new PagedListRenderOptions
                {
                    DisplayItemSliceAndTotal = false,
                    LiElementClasses = new string[] { "page-item" },
                    PageClasses = new String[] { "page-link" },
                    
                })
        
            </section>
        }
</div>


@functions {


    public static string Truncate(string value, int maxChars)
    {
        return value.Length <= maxChars ? value : value.Substring(0, maxChars) + ".....";
    }

    public static string RemoveHTMLTags(string html)
    {
        return System.Text.RegularExpressions.Regex.Replace(html, "<.*?>", string.Empty);
    }
}
