@model PersonalWebsiteMVC.Models.Posts

@{
     ViewData["Title"] = "Details";
     Layout = "~/Areas/Admin/Shared/_Layout.cshtml";
}

<h1 class="bg-info text-white p-1">Details</h1>
<a asp-action="Index" class="btn btn-secondary">Back</a>


<dt class="col-sm-2">
     @Html.DisplayNameFor(model => model.CategoryID)
</dt>
<dd class="col-sm-10">
     @Html.DisplayFor(model => model.CategoryID)
</dd>
<dt class="col-sm-2">
     @Html.DisplayNameFor(model => model.PostContent)
</dt>
<dd class="col-sm-10">
     @Html.Raw(Html.DisplayFor(model => model.PostContent))
</dd>
<dt class="col-sm-2">
     @Html.DisplayNameFor(model => model.PostTitle)
</dt>
<dd class="col-sm-10">
     @Html.DisplayFor(model => model.PostTitle)
</dd>
<dt class="col-sm-2">
     @Html.DisplayNameFor(model => model.PostAuthor)
</dt>
<dd class="col-sm-10">
     @Html.DisplayFor(model => model.PostAuthor)
</dd>
<dt class="col-sm-2">
     @Html.DisplayNameFor(model => model.PostLocation)
</dt>
<dd class="col-sm-10">
     @Html.DisplayFor(model => model.PostLocation)
</dd>
<dt class="col-sm-2">
     @Html.DisplayNameFor(model => model.PostIP)
</dt>
<dd class="col-sm-10">
     @Html.DisplayFor(model => model.PostIP)
</dd>
<dt class="col-sm-2">
     @Html.DisplayNameFor(model => model.PostActive)
</dt>
<dd class="col-sm-10">
     @Html.DisplayFor(model => model.PostActive)
</dd>
<dt class="col-sm-2">
     @Html.DisplayNameFor(model => model.PostDate)
</dt>
<dd class="col-sm-10">
     @Html.DisplayFor(model => model.PostDate)
</dd>
<dt class="col-sm-2">
     @Html.DisplayNameFor(model => model.CommentCount)
</dt>
<dd class="col-sm-10">
     @Html.DisplayFor(model => model.CommentCount)
</dd>
    </dl>
