@model PersonalWebsiteMVC.Models.Posts

@{
     ViewData["Title"] = "Details";
     Layout = "~/Areas/Admin/Shared/_Layout.cshtml";
}

<h1 class="bg-info text-white p-1">Details</h1>
<a asp-action="Index" class="btn btn-secondary">Back</a>


<dt class="col-sm-2">
    Category ID:
</dt>
<dd class="col-sm-10">
     @Model.CategoryID
</dd>
<dt class="col-sm-2">
    Post:
</dt>
<dd class="col-sm-10">
    @Model.PostContent
</dd>
<dt class="col-sm-2">
    Title:
</dt>
<dd class="col-sm-10">
     @Model.PostTitle
</dd>
<dt class="col-sm-2">
    Author:
</dt>
<dd class="col-sm-10">
     @Model.PostAuthor
</dd>
<dt class="col-sm-2">
     Location:
</dt>
<dd class="col-sm-10">
    @Model.PostLocation
</dd>
<dt class="col-sm-2">
     IP Address:
</dt>
<dd class="col-sm-10">
    @Model.PostIP
</dd>
<dt class="col-sm-2">
     Active:
</dt>
<dd class="col-sm-10">
    @Model.PostActive
</dd>
<dt class="col-sm-2">
     Date Posted:
</dt>
<dd class="col-sm-10">
    @Model.PostPublished
</dd>
<dt class="col-sm-2">
     Comment Count:
</dt>
<dd class="col-sm-10">
    @Model.CommentCount
</dd>
    </dl>
