@model Posts
@{
    ViewData["Title"] = "Update";
    Layout = "~/Areas/Admin/Shared/_Layout.cshtml";
}

@using PersonalWebsiteMVC.Data
@inject ApplicationDbContext db
@inject UserManager<ApplicationUser> userManager 

<h1 class="bg-info text-white">Update</h1>
<a asp-action="Index" class="btn btn-secondary">Back</a>
<div asp-validation-summary="All" class="text-danger"></div>

@TempData["Message"]

<form asp-action="UpdatePost" method="post" enctype="multipart/form-data" name="UpdateForm" asp-controller="Blog" asp-area="Admin">
    <div class="form-group">
        <label asp-for="PostContent">Content:</label>
        <textarea id="ckeditor1" asp-for="PostContent">@Model.PostContent</textarea>
    </div>

    <div class="form-group">
        <label asp-for="PostTitle">Title:</label>
        <input asp-for="PostTitle" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="FileUpload">Featured Image:</label>
        <input type="file" asp-for="FileUpload" class="form-control">
    </div>
     <div class="form-group">
          <label asp-for="CategoryID">Category</label>
          <select asp-for="CategoryID" class="form-control">
                @foreach (var item in db.Categories)
                {
                     <option value="@item.CategoryID">@item.Category</option>
                }
          </select>
     </div>
     <div class="form-group">
        <label asp-for="PostAuthor">User:</label>
        <select asp-for="PostAuthor" class="form-control">
            @foreach (ApplicationUser user in userManager.Users)
            {
                <option value="@user.Id">@user.UserName</option>
            }
        </select>
    </div>
    <div class="form-group">
        
        <label asp-for="PostPublished">Published:</label>
        <select asp-for="PostPublished" class="form-control">
                <option value="@Model.PostPublished">@Model.PostPublished</option>
                <option value="@Posts.Published.No">No</option>
            
                <option value="@Posts.Published.Yes">Yes</option>
            
        </select>
    </div>
    @if (Model.PostIP is null)
    {
        <input type="hidden" asp-for="PostIP" value="@Context.Connection.RemoteIpAddress">
    }
    @if (Model.PostDate is null)
    {
        <input type="hidden" asp-for="PostDate" value="@DateTime.Now">
    }
    <div class="form-group">
        <label asp-for="Keywords">Keywords:</label>
        <input asp-for="Keywords" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="Description">Description:</label>
        <input asp-for="Description" class="form-control">
    </div>
    <input type="hidden" asp-for="PostID" value="@Model.PostID">
    <button type="submit" class="btn btn-primary">Save</button>
</form>

